{%- macro inputPkBareMetalResourceClassPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pk">
  {%- endif %}
                  <wa-input
                      readonly
                      placeholder="[Long] primary key"
                      label="primary key"
                      type="number"
                      hint="
The primary key of this object in the database"
                      id="{{classApiMethodMethod}}_pk"
  {%- if "Page" == classApiMethodMethod %}
                      data-name={{ result.name | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_pk setPk classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Pk "
                      name="setPk"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_pk setPk classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Pk "
                      name="setPk"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_pk valuePk classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Pk "
                      name="pk"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.pk | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPkBareMetalResourceClassPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPkBareMetalResourceClassPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCreatedBareMetalResourceClassPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A created timestamp for this record in the database"
                      label="created {{ formatZonedDateTime(result.created, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{classApiMethodMethod}}_created datetimepicker setCreated classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_created"
                      value="{%- if "Page" == classApiMethodMethod and result.created is defined %}{{ formatZonedDateTime(result.created, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-name={{ result.name | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedBareMetalResourceClassPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedBareMetalResourceClassPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedBareMetalResourceClassPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A modified timestamp for this record in the database"
                      label="modified {{ formatZonedDateTime(result.modified, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{classApiMethodMethod}}_modified datetimepicker setModified classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_modified"
                      value="{%- if "Page" == classApiMethodMethod and result.modified is defined %}{{ formatZonedDateTime(result.modified, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-name={{ result.name | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedBareMetalResourceClassPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedBareMetalResourceClassPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedBareMetalResourceClassPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-button variant="brand"
                      id="{{classApiMethodMethod}}_archived"
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
                      class="label-on-left {{classApiMethodMethod}}_archived classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Archived "
                      name="setArchived"
                      data-name={{ result.name | tojson }}
                      data-val="{{ result.archived | e }}"
                      >archive</wa-button>
  {%- else %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-checkbox
                      id="{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <wa-select
                      id="{{classApiMethodMethod}}_archived"
  {%- endif %}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_archived setArchived valueArchived classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.archived == true %}
                      checked
    {%- endif %}
                      data-name={{ result.name | tojson }}
                      >archive</wa-checkbox>
  {%- else %}
                      >
                    <wa-option value=""></wa-option>
                    <wa-option value="true">true</wa-option>
                    <wa-option value="false">false</wa-option>
                  </wa-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedBareMetalResourceClassPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedBareMetalResourceClassPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNameBareMetalResourceClassPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_name">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] resource class name"
                      label="resource class name"
                      hint="
The name of the resource class"
                      id="{{classApiMethodMethod}}_name"
  {%- if "Page" == classApiMethodMethod %}
                      data-name={{ result.name | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_name setName classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Name "
                      name="setName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_name setName classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Name "
                      name="setName"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_name valueName classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Name "
                      name="name"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.name | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNameBareMetalResourceClassPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNameBareMetalResourceClassPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCountBareMetalResourceClassPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_count">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] number of available nodes"
                      label="number of available nodes"
                      hint="
The number of available nodes"
                      id="{{classApiMethodMethod}}_count"
  {%- if "Page" == classApiMethodMethod %}
                      data-name={{ result.name | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_count setCount classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Count "
                      name="setCount"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_count setCount classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Count "
                      name="setCount"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_count valueCount classBareMetalResourceClass inputBareMetalResourceClass{{ result.name }}Count "
                      name="count"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.count | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCountBareMetalResourceClassPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCountBareMetalResourceClassPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}

{%- macro htmFormButton_patchBareMetalResourceClass() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_patchBareMetalResourceClass" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_patchBareMetalResourceClass"
                >Modify bare metal resource class</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_patchBareMetalResourceClass"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_patchBareMetalResourceClass() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="patchBareMetalResourceClassDialog" label="Modify bare metal resource class">
          <form id="htmForm_patchBareMetalResourceClass" class="round-row primary-smart-border-radius ">
            <wa-details open class="HtmRow" id="name">
              <div slot="summary">
                <span>name</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmNameBareMetalResourceClassPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNameBareMetalResourceClassPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNameBareMetalResourceClassPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmCountBareMetalResourceClassPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmCountBareMetalResourceClassPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmCountBareMetalResourceClassPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_patchBareMetalResourceClass() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_postBareMetalResourceClass() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_postBareMetalResourceClass" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_postBareMetalResourceClass"
                >Create a bare metal resource class</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_postBareMetalResourceClass"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_postBareMetalResourceClass() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="postBareMetalResourceClassDialog" label="Create a bare metal resource class">
          <form id="htmForm_postBareMetalResourceClass" class="round-row primary-smart-border-radius ">
            <div>You can override any default values below: </div>
            <wa-details open class="HtmRow" id="name">
              <div slot="summary">
                <span>name</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "POST" in scopes %}
                {{ htmNameBareMetalResourceClassPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNameBareMetalResourceClassPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNameBareMetalResourceClassPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "POST" in scopes %}
                {{ htmCountBareMetalResourceClassPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmCountBareMetalResourceClassPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmCountBareMetalResourceClassPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_postBareMetalResourceClass() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_deleteBareMetalResourceClass() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deleteBareMetalResourceClass" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deleteBareMetalResourceClass"
                >Delete bare metal resource class</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deleteBareMetalResourceClass"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deleteBareMetalResourceClass() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deleteBareMetalResourceClassDialog" label="Delete bare metal resource class">
          <form id="htmForm_deleteBareMetalResourceClass" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deleteBareMetalResourceClass() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_putimportBareMetalResourceClass() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_putimportBareMetalResourceClass" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_putimportBareMetalResourceClass"
                >Import bare metal resource classes</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_putimportBareMetalResourceClass"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_putimportBareMetalResourceClass() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="putimportBareMetalResourceClassDialog" label="Import bare metal resource classes">
          <form id="htmForm_putimportBareMetalResourceClass" class="round-row primary-smart-border-radius ">
            <div>
              <wa-textarea
                  class="PUTImport_searchList "
                  style="height: 300px; "
                  placeholder="{ 'searchList': [ { 'name': ... , 'saves': [ ... ] }, ... ] }"
                  >
              </wa-textarea>
            </div>
          </form>
          {{ htmFormButton_putimportBareMetalResourceClass() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmForm_searchpageBareMetalResourceClass() %}
        <div with-header with-footer style="--width: 50vw; " id="searchpageBareMetalResourceClassDialog" label="Search bare metal resource classes">
          <div id="htmForm_searchpageBareMetalResourceClass" class="round-row primary-smart-border-radius ">
            <wa-details class="HtmRow" id="primary-key-id-created-modified-archive-details">
              <div slot="summary">
                <span>primary key, ID, created, modified, archive details</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmPkBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmPkBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmPkBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmCreatedBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmCreatedBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmCreatedBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmModifiedBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmModifiedBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmModifiedBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmArchivedBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmArchivedBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmArchivedBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
            <wa-details open class="HtmRow" id="name">
              <div slot="summary">
                <span>name</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmNameBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmNameBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmNameBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmCountBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmCountBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmCountBareMetalResourceClassPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
          </div>
        </div>
{%- endmacro %}

{%- macro htmFormButton_deletefilterBareMetalResourceClass() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deletefilterBareMetalResourceClass" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deletefilterBareMetalResourceClass"
                >Delete bare metal resource class</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deletefilterBareMetalResourceClass"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deletefilterBareMetalResourceClass() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deletefilterBareMetalResourceClassDialog" label="Delete bare metal resource class">
          <form id="htmForm_deletefilterBareMetalResourceClass" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deletefilterBareMetalResourceClass() }}
        </wa-dialog>
{%- endmacro %}
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchBareMetalResourceClass() }}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postBareMetalResourceClass() }}
  {%- else %}
    {{ htmForm_postBareMetalResourceClass() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteBareMetalResourceClass() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportBareMetalResourceClass() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterBareMetalResourceClass() }}
  {%- else %}
  {%- endif %}
{%- endif %}
