          <wa-scroller>
            <wa-button-group class="no-gradient" id="htmSearchButtons">
              <wa-button class="SearchButtons_Filters SearchButtons_Filters_BareMetalResourceClass " variant="brand" onclick="document.querySelector('#siteSidebarToggleFilters').open = true; ">
                <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-filters hover-box-shadow "></i> 
                filters
              </wa-button>
              {% if solrId is not defined %}
              <wa-button class="SearchButtons_Sort SearchButtons_Sort_BareMetalResourceClass " variant="brand" onclick="document.querySelector('#siteSidebarToggleSort').open = true; ">
                <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z hover-box-shadow "></i> 
                sort
              </wa-button>
              {% endif %}
              <wa-button class="SearchButtons_Range SearchButtons_Range_BareMetalResourceClass " variant="brand" onclick="document.querySelector('#siteSidebarToggleRange').open = true; ">
                <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-calendar-range hover-box-shadow "></i> 
                range
              </wa-button>
              <wa-button class="SearchButtons_Pivot SearchButtons_Pivot_BareMetalResourceClass " variant="brand" onclick="document.querySelector('#siteSidebarTogglePivot').open = true; ">
                <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-table-pivot hover-box-shadow "></i> 
                pivot
              </wa-button>
              {% if solrId is not defined %}
              <wa-button class="SearchButtons_Stats SearchButtons_Stats_BareMetalResourceClass " variant="brand" onclick="document.querySelector('#siteSidebarToggleStats').open = true; ">
                <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-chart-candlestick hover-box-shadow "></i> 
                stats
              </wa-button>
              {% endif %}
              <wa-button class="SearchButtons_Api SearchButtons_Api_BareMetalResourceClass " variant="brand" href="{{ apiUri }}{% if result.name is defined %}/{{ result.name }}{% else %}{{ queryStr }}{% endif %}">
                <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-brackets-curly hover-box-shadow "></i> 
                API
              </wa-button>
            </wa-button-group>
          </wa-scroller>
