{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleHubPage %}
    <title>{% if resultCount == 0 %}no hub found{% else %}hubs{% endif %}</title>
{%- endblock htmTitleHubPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/hub/Hub.css"/>
{%- block htmStylesHubPage %}
{%- endblock htmStylesHubPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 3;
      }
{{ super() }}
{%- block htmStyleHubPage %}
{%- endblock htmStyleHubPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsHubPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/hub/Hub.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/hub/HubSearchPage.js"></script>
{%- endblock htmScriptsHubPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptHubPage %}
    <script>

      function jsWebsocketHub(hubId, vars, $response) {
{%- block jsWebsocketHubPage %}{%- endblock %}
      }

      function jsTooltipHub(e, feature) {
{%- block jsTooltipHubPage %}{%- endblock %}
      }

      function htmTooltipHub(feature, layer) {
        return `{%- block htmTooltipHubPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipHubPage %}`;
      }

      function facetSimpleRangeHubSuccess(pageContent) {
{% block facetSimpleRangeHubSuccess %}{%- endblock facetSimpleRangeHubSuccess %}
      }
      function facetSimpleRangeHubError(pageContent) {
{% block facetSimpleRangeHubError %}{%- endblock facetSimpleRangeHubError %}
      }
      function facetSimpleRangeHub(e) {
        facetSimpleRange(e, facetSimpleRangeHubSuccess, facetSimpleRangeHubError);
      }

      function facetRangeTimeZoneHubSuccess(pageContent) {
{% block facetRangeTimeZoneHubSuccess %}{%- endblock facetRangeTimeZoneHubSuccess %}
      }
      function facetRangeTimeZoneHubError(pageContent) {
{% block facetRangeTimeZoneHubError %}{%- endblock facetRangeTimeZoneHubError %}
      }
      function facetRangeTimeZoneHub(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneHubSuccess, facetRangeTimeZoneHubError);
      }

      function facetRangeGapChangeHubSuccess(pageContent) {
{% block facetRangeGapChangeHubSuccess %}{%- endblock facetRangeGapChangeHubSuccess %}
      }
      function facetRangeGapChangeHubError(pageContent) {
{% block facetRangeGapChangeHubError %}{%- endblock facetRangeGapChangeHubError %}
      }
      function facetRangeGapChangeHub(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeHubSuccess, facetRangeGapChangeHubError);
      }

      function facetRangeStartChangeHubSuccess(pageContent) {
{% block facetRangeStartChangeHubSuccess %}{%- endblock facetRangeStartChangeHubSuccess %}
      }
      function facetRangeStartChangeHubError(pageContent) {
{% block facetRangeStartChangeHubError %}{%- endblock facetRangeStartChangeHubError %}
      }
      function facetRangeStartChangeHub(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeHubSuccess, facetRangeStartChangeHubError);
      }

      function facetRangeEndChangeHubSuccess(pageContent) {
{% block facetRangeEndChangeHubSuccess %}{%- endblock facetRangeEndChangeHubSuccess %}
      }
      function facetRangeEndChangeHubError(pageContent) {
{% block facetRangeEndChangeHubError %}{%- endblock facetRangeEndChangeHubError %}
      }
      function facetRangeEndChangeHub(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeHubSuccess, facetRangeEndChangeHubError);
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
      ]).then(() => {

        var hubId = {% if result.hubId is defined %}{{ result.hubId | tojson }}{% else %}null{% endif %};

        if(hubId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.hubId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listHub')?.value;
        if(l)
          window.listHub = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneHub);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneHub);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneHub);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeHub);
        pageGraphHub();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qHub_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('Hub', event.target, document.querySelector('#qHubDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qHub_rows')?.addEventListener('change', event => {
          paramChange('Hub', event.target, document.querySelector('#qHubDiv_rows'));
        });

        document.querySelector('#qHub_start')?.addEventListener('change', event => {
          paramChange('Hub', event.target, document.querySelector('#qHubDiv_start'));
        });


        var submitForm_patchHub = document.querySelector('#htmForm_patchHub')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchHub')?.addEventListener('click', event => {
          event.preventDefault();
          patchHub(null, document.querySelector('#htmForm_patchHub'), document.querySelector('#htmFormButton_patchHub'), event.target.getAttribute('data-hubId'));
          return false;
        });

        var submitForm_postHub = document.querySelector('#htmForm_postHub')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postHub')?.addEventListener('click', event => {
          event.preventDefault();
          postHub(document.querySelector('#htmForm_postHub')
          , document.querySelector('#htmFormButton_postHub')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteHub = document.querySelector('#htmForm_deleteHub')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteHub')?.addEventListener('click', event => {
          event.preventDefault();
          deleteHub(event.target, event.target.getAttribute('data-hubId'));
          return false;
        });

        var submitForm_putimportHub = document.querySelector('#htmForm_putimportHub')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportHub')?.addEventListener('click', event => {
          event.preventDefault();
          putimportHub(document.querySelector('#htmForm_putimportHub'), document.querySelector('#htmFormButton_putimportHub'));
          return false;
        });

        var submitForm_searchpageHub = document.querySelector('#htmForm_searchpageHub')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageHub')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageHub();
          return false;
        });

        var submitForm_deletefilterHub = document.querySelector('#htmForm_deletefilterHub')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterHub')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterHub(event.target);
          return false;
        });
{%- block htmScriptInitHubPage %}{%- endblock htmScriptInitHubPage %}
      });
    </script>
{%- endblock htmScriptHubPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketHubPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketHub(websocketHubInner);
{% endif %}
{%- endblock websocketHubPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlHubPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlHubPage %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-Hub">back to all hubs</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-Hub" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="fa-regular fa-sitemap"></i>
                  all hubs
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search hubs
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartHubPage %}
{% include en-us/search/hub/HubSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-Hub">back to all hubs</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-Hub" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-regular fa-sitemap"></i>
              all hubs
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no hub found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-regular fa-sitemap"></i>
            </div>
            <span class="wa-heading-m ">no hub found</span>
            <p class="wa-caption-l ">An Red Hat Advanced Cluster Management Hub cluster. </p>
{% include en-us/search/hub/HubSearchForm.htm %}
          </div>
        </div>
{% else %}
{% include en-us/search/hub/HubSuggestedSearch.htm %}
          <div class="pageContent ">
            <form action="/en-us/api/hub" id="HubForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listHub" id="listHub" class="listHub"  value='{{ toJsonArrayStringInApostrophes(listHub) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
{% endif %}
{%- endblock htmBodyStartHubPage %}
{%- endblock htmBodyStartPageLayout %}
{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/hub/HubSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchForm is not defined %}
{%- set pageSearchForm %}
{% include en-us/search/hub/HubSearchForm.htm %}
{%- endset pageSearchForm %}
{%- endif %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleHubPage %}
{% if resultCount > 0 %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/hub/HubPaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
              <wa-dropdown id="htmDropdown-hubName">
                <wa-button variant="brand" slot="trigger" caret>hub name</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortHub_hubName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-Hub').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-hubName-asc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by hub name ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortHub_hubName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-Hub').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-hubName-desc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by hub name descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <wa-dropdown id="htmDropdown-localClusterName">
                <wa-button variant="brand" slot="trigger" caret>ACM cluster name</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortHub_localClusterName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-Hub').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-localClusterName-asc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by ACM cluster name ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortHub_localClusterName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-Hub').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-localClusterName-desc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by ACM cluster name descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <wa-dropdown id="htmDropdown-description">
                <wa-button variant="brand" slot="trigger" caret>description</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortHub_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-Hub').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-description-asc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by description ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortHub_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-Hub').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-description-desc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by description descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
                  </div>
                  {% for item in listHub%}
                  <div>
              <a href="{{ item.displayPage }}">
                <i class="fa-regular fa-sitemap"></i>
              <span>{{ item.hubName | e }}
</span>              </a>
              <a href="{{ item.displayPage }}">
              <span>{{ item.localClusterName | e }}
</span>              </a>
              <a href="{{ item.displayPage }}">
              <span>{{ item.description | e }}
</span>              </a>
                  </div>
                  {% endfor %}
              {% if getColumnHubName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnLocalClusterName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/hub/HubPaginationButtons.htm %}
              </div>
            </div>
          </div>
{% endif %}
{%- endblock htmBodyMiddleHubPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndHubPage %}
{%- include en-us/search/hub/HubLocation.htm %}
{%- endblock htmBodyEndHubPage %}
  {{ super() }}
{%- endblock htmBodyEndPageLayout %}
