          <div class="htmBodySidebarHubPage ">
{%- block htmBodySidebarHubPage %}
          <wa-drawer with-header light-dismiss placement="end" id="siteSidebarToggleSearch">
            <div slot="label">
              <i class="{{ FONTAWESOME_STYLE }} fa-magnifying-glass "></i>
              search
            </div>
            <div>
              {%- block htmBodySearchHubPage %}
              <div>
                {% for key, value in varsQ.items() %}
                <div>
                  <div>
                    <label for="qHub_{{ key }}">{{ value.displayName }}<sup> ({{ value.classSimpleName }})</sup></label>
                  </div>
                </div>
                <div>
                  <div>
                    <wa-input id="qHub_{{ key }}" placeholder="{{ displayName }}" data-var="{{ key }}" autocomplete="off="></wa-input>
                    <div id="qHubDiv_{{ key }}" class="pageSearchVal "></div>
                  </div>
                </div>
                {% endfor %}
                <div>
                  <div>
                    <label for="qHub_Start">start<sup> (Long)</sup></label>
                  </div>
                </div>
                <div>
                  <div>
                    <wa-input id="qHub_start" placeholder="{{ displayName }}" class="" data-var="start" autocomplete="off=" value="{{ start }}"></wa-input>
                    <div id="qHubDiv_start" class="pageSearchVal ">start={{ start }}</div>
                  </div>
                </div>
                <div>
                  <div>
                    <label for="qHub_Rows">rows<sup> (Long)</sup></label>
                  </div>
                </div>
                <div>
                  <div>
                    <wa-input id="qHub_rows" placeholder="{{ displayName }}" class="" data-var="rows" autocomplete="off" value="{{ rows }}"></wa-input>
                    <div id="qHubDiv_rows" class="pageSearchVal ">rows={{ rows }}</div>
                  </div>
                </div>
              </div>
              {%- endblock htmBodySearchHubPage %}
            </div>
          </wa-drawer>
          <wa-drawer with-header light-dismiss placement="end" id="siteSidebarToggleFilters">
            <div slot="label">
              <span>
              <i class="{{ FONTAWESOME_STYLE }} fa-filters "></i> filters</span>
            </div>
            <div>
              {%- block htmBodyFiltersHubPage %}
              <div class="flex flex-column gap-l ">
                {% for key, value in varsFq.items() %}
                <div>
                  <div>
                    <label for="fqHub_{{ key }}">{{ value.displayName }}<sup> ({{ value.classSimpleName }})</sup></label>
                    <wa-tooltip for="buttonFacetHub_{{ key }}">see values</wa-tooltip>
                    <div class="flex round-column pill-smart-border-radius ">
                      <wa-button variant="brand" id="buttonFacetHub_{{ key }}" data-var="{{ value.var }}" data-clear="{% if value.facetField is defined %}true{% else %}false{% endif %}"><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-list "></i></wa-button>
                      <wa-input id="fqHub_{{ key }}" placeholder="{{ value.displayName }}" class="" onchange="fqChange('Hub', this); " data-var="{{ value.var }}" autocomplete="off=" value="{{ value.val }}"></wa-input>
                    </div>
                    <div class="pageSearchVal " id="pageSearchVal-fqHub_{{ key }}">{% if value.val is defined %}fq={{ value.var }}:{{ value.val | urlencode() }}{% endif %}</div>
                    <div class="pageSearchVal " id="pageSearchVal-buttonFacetHub_{{ key }}">{% if value.facetField.var is defined %}facet.field={{ value.facetField.var }}{% endif %}</div>
                  </div>
                  <div>
                    <div class="pageFacetField pageFacetFieldHub_{{ key }} " id="pageFacetFieldHub_{{ key }}">
                      {% for facetFieldKey, facetFieldValue in value.facetField.counts.items() %}
                      <div>
                        <wa-tooltip content="{{ facetFieldValue | e }} hub total with {{ value.facetField.var | e }} &quot;{{ facetFieldKey | e }}&quot;"></wa-tooltip>
                        <div class="cursor-pointer raised-item " data-class="Hub" data-var="{{ value.facetField.var }}" data-val="{{ facetFieldKey }}" onclick="if(document.querySelector('#fqHub_{{ key }}')?.value === '{{ facetFieldKey }}') this.setAttribute('data-val', ''); fqReplace('Hub', this); ">{{ facetFieldValue }}: {{ facetFieldKey }}</div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              {%- endblock htmBodyFiltersHubPage %}
            </div>
          </wa-drawer>
          <wa-drawer with-header light-dismiss placement="end" id="siteSidebarToggleSort">
            <div slot="label">
              <i class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z "></i>
              sort
            </div>
            <div>
              {%- block htmBodySortHubPage %}
              <div id="pageSearchVal-pageSort-Hub">
              {% for key, value in varsFq.items() %}
              {% if defaultSortVars is defined and ((key + ' asc') in defaultSortVars or (key + ' desc') in defaultSortVars) %}
                  <div class="pageSearchVal pageSearchVal-pageSort-Hub pageSearchVal-pageSort-Hub-{{ key }} " id="pageSearchVal-pageSort-Hub-{{ key }}">{% if defaultSortVars is defined and (key + ' asc') in defaultSortVars %}sort={{ key }} asc{% else %}{% if defaultSortVars is defined and (key + ' desc') in defaultSortVars %}sort={{ key }} desc{% endif %}{% endif %}</div>
              {% endif %}
              {% endfor %}
              </div>
              <div>
                {% for key, value in varsFq.items() %}
                <wa-details
                    summary="{{ value.displayName | e }}"
                    class="pageDetailsSort "
                    id="pageDetailsSortHub_{{ key }}"
                        data-value="{{ value.var | e }}"
                        {% if value.sort is defined %}open{% endif %}
                    >
                  <wa-select with-clear
                      orientation="horizontal"
                      class="pageSelectSort "
                      id="pageSelectSortHub_{{ key }}"
                      {% if value.sort is defined %}value="{{ value.sort | e }}"{% endif %}
                      label={{ value.displayName | tojson }}
                      size="small"
                      >
                    <wa-option value="asc">ascending</wa-option>
                    <wa-option value="desc">descending</wa-option>
                  </wa-select>
                </wa-details>
                {% endfor %}
              </div>
              {%- endblock htmBodySortHubPage %}
            </div>
          </wa-drawer>
          <wa-drawer with-header light-dismiss placement="end" id="siteSidebarToggleRange">
            <div slot="label">
              <span>
              <i class="{{ FONTAWESOME_STYLE }} fa-calendar-range "></i> range</span>
            </div>
            <div>
              {%- block htmBodyRangeHubPage %}
              <table>
                <tr>
                  <td colspan="2">
                    <div class="pageSearchVal " id="pageSearchVal-pageFacetRangeGap-Hub">{% if rangeGap is defined %}facet.range.gap={{ rangeGap | urlencode() }}{% endif %}</div>
                    <div class="pageSearchVal " id="pageSearchVal-pageFacetRangeStart-Hub">{% if rangeStart is defined %}facet.range.start={{ rangeStart | urlencode() }}{% endif %}</div>
                    <div class="pageSearchVal " id="pageSearchVal-pageFacetRangeEnd-Hub">{% if rangeEnd is defined %}facet.range.end={{ rangeEnd | urlencode() }}{% endif %}</div>
                    <div class="pageSearchVal " id="pageSearchVal-pageFacetRangeVar-Hub">{% if defaultRangeVar is defined %}facet.range={!tag=r1}{{ defaultRangeVar | urlencode() }}{% endif %}</div>
                  </td>
                </tr>
              </table>
              <table>
                <tr class="">
                  <td class="">
                    <span>Range Gap</span>
                  </td>
                  <td class="">
                    <wa-select name="facet.range.gap" id="pageSearchVal-pageFacetRangeGap-Hub-input" onchange="facetRangeGapChange('Hub', this); ">
                      <wa-option value="+1YEAR"{% if defaultRangeGap == '+1YEAR' %} selected="selected"{% else %}{% endif %}>Year</wa-option>
                      <wa-option value="+1MONTH"{% if defaultRangeGap == '+1MONTH' %} selected="selected"{% else %}{% endif %}>Month</wa-option>
                      <wa-option value="+1WEEK"{% if defaultRangeGap == '+1WEEK' %} selected="selected"{% else %}{% endif %}>Week</wa-option>
                      <wa-option value="+1DAY"{% if defaultRangeGap == '+1DAY' %} selected="selected"{% else %}{% endif %}>Day</wa-option>
                      <wa-option value="+1HOUR"{% if defaultRangeGap == '+1HOUR' %} selected="selected"{% else %}{% if defaultRangeGap is defined %}{% else %} selected="selected"{% endif %}{% endif %}>Hour</wa-option>
                      <wa-option value="+1MINUTE"{% if defaultRangeGap == '+1MINUTE' %} selected="selected"{% else %}{% endif %}>Minute</wa-option>
                      <wa-option value="+1SECOND"{% if defaultRangeGap == '+1SECOND' %} selected="selected"{% else %}{% endif %}>Second</wa-option>
                    </wa-select>
                  </td>
                </tr>
                <tr class="">
                  <td class="" colspan="2">
                    <span>Range Start ({{ formatZonedDateTime(defaultRangeStart, "VV", defaultLocaleId, defaultZoneId) }})</span>
                  </td>
                </tr>
                <tr class="">
                  <td class="" colspan="2">
                    <span><wa-input type="datetime-local" name="facetRangeStart" id="pageSearchVal-pageFacetRangeStart-Hub-input" value="{{ formatZonedDateTime(defaultRangeStart, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) }}" onchange="facetRangeStartChange('Hub', this, '{{ defaultZoneId }}'); "></wa-input></span>
                  </td>
                </tr>
                <tr class="">
                  <td class="" colspan="2">
                    <span>Range End ({{ formatZonedDateTime(defaultRangeStart, "VV", defaultLocaleId, defaultZoneId) }})</span>
                  </td>
                </tr>
                <tr class="">
                  <td class="" colspan="2">
                    <span><wa-input type="datetime-local" name="facetRangeEnd" id="pageSearchVal-pageFacetRangeEnd-Hub-input" value="{{ formatZonedDateTime(defaultRangeEnd, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) }}" onchange="facetRangeEndChange('Hub', this, '{{ defaultZoneId }}'); "></wa-input></span>
                  </td>
                </tr>
              </table>
              <wa-radio-group id="pageFacetRangeHub">                {% for key, value in varsRange.items() %}
                <wa-radio name="pageFacetRange" class="pageFacetRange " id="pageFacetRangeHub_{{ key }}" value="{{ value.var }}"{% if defaultRangeVar == var %} checked="checked"{% endif %}>{{ value.displayName }}</wa-radio>
                {% endfor %}
              </wa-radio-group>
              {%- endblock htmBodyRangeHubPage %}
            </div>
          </wa-drawer>
          <wa-drawer with-header light-dismiss placement="end" id="siteSidebarTogglePivot">
            <div slot="label">
              <span>
              <i class="{{ FONTAWESOME_STYLE }} fa-table-pivot "></i> pivot</span>
            </div>
            <div>
              {%- block htmBodyPivotHubPage %}
              <div style="display: none; " id="pageSearchVal-PivotHubHidden">
                {% for item in defaultPivotVars %}
                  <div class="pageSearchVal-PivotHubHidden " id="pageSearchVal-PivotHubHidden_{{ item }}">{{ item }}</div>
                {% endfor %}
              </div>
              <div id="pageSearchVal-PivotHub">
                {% if defaultPivotVars is defined and defaultPivotVars.length > 0 %}
                  <div class="pageSearchVal pageSearchVal-PivotHub " id="pageSearchVal-PivotHub_1">facet.pivot={!range=r1}{% for item in defaultPivotVars %}{% if loop.index > 0 %},{% endif %}{{ item }}{% endfor %}</div>
                {% endif %}
              </div>
              {% for key, value in varsFq.items() %}
              <div>
                <wa-checkbox name="pageFacetPivot" class="pageFacetPivot " id="pageFacetPivotHub_{{ key }}" value="{{ value.var }}"{% if pivot is defined %} checked="checked"{% endif %}>{{ value.displayName }}</wa-checkbox>
              </div>
              {% endfor %}
              {%- endblock htmBodyPivotHubPage %}
            </div>
          </wa-drawer>
          <wa-drawer with-header light-dismiss placement="end" id="siteSidebarToggleFieldList">
            <div slot="label">
              <span>
              <i class="{{ FONTAWESOME_STYLE }} fa-list-ul "></i> field list</span>
            </div>
            <div>
{%- block htmBodyFieldListHubPage %}
              <div style="display: none; " id="pageSearchVal-FieldListHubHidden">
                {% for item in defaultFieldListVars %}
                  <div class="pageSearchVal-FieldListHubHidden " id="pageSearchVal-FieldListHubHidden_{{ item }}">{{ item }}</div>
                {% endfor %}
              </div>
              {% if defaultFieldListVars is defined and defaultFieldListVars.length > 0 %}
              <div id="pageSearchVal-FieldListHub">
                {% if defaultFieldListVars is defined %}
                  <div class="pageSearchVal pageSearchVal-FieldListHub " id="pageSearchVal-FieldListHub_1">fl={% for item in defaultFieldListVars %}{% if loop.index > 0 %},{% endif %}{{ item }}{% endfor %}</div>
                {% endif %}
              </div>
              {% endif %}
              {% for key, value in varsFq.items() %}
              <div>
                <wa-checkbox name="pageFieldList" class="pageFieldList " id="pageFieldListHub_{{ key }}" value="{{ value.var }}"{% if fieldList is defined %} checked="checked"{% endif %} onclick="facetFieldListChange('Hub', value); ">{{ value.displayName }}</wa-checkbox>
              </div>
                {% endfor %}
{%- endblock htmBodyFieldListHubPage %}
            </div>
          </wa-drawer>
          <wa-drawer with-header light-dismiss placement="end" id="siteSidebarToggleStats">
            <div slot="label">
              <i class="{{ FONTAWESOME_STYLE }} fa-chart-candlestick "></i>
              stats
            </div>
            <div>
{%- block htmBodyStatsHubPage %}
              <div style="display: none; " id="pageSearchVal-StatsHubHidden">
                {% for item in defaultStatsVars %}
                  <div class="pageSearchVal-StatsHubHidden " id="pageSearchVal-StatsHubHidden_{{ item }}">{{ item }}</div>
                {% endfor %}
              </div>
              <div id="pageSearchVal-StatsHub">
                {% if defaultStatsVars is defined %}
                  {% for item in defaultStatsVars %}
                    <div class="pageSearchVal pageSearchVal-StatsHub_{{ item }} " id="pageSearchVal-StatsHub_{{ item }}">stats.field={{ item }}                    </div>
                  {% endfor %}
                {% endif %}
              </div>
              <div>
                {% for key, value in varsFq.items() %}
                  {% if value.enableStats is defined %}
                    <wa-details
                        summary="{{ value.displayName | e }}"
                        class="pageStats "
                        id="pageStatsHub_{{ key }}"
                        data-value="{{ value.var | e }}"
                        {% if value.stats is defined %}open{% endif %}
                        >
                      <div class="wa-stack pageStatsField pageStatsFieldHub_{{ key }} " id="pageStatsFieldHub_{{ key }}">
                        {% if value.stats is defined %}
                          {% for itemKey, itemValue in value.stats.items() %}
                            {% if itemKey == 'name' %}{% else %}
                              <div
                                   class="wa-split "
                                   data-class="Hub"
                                   data-var="{{ itemKey }}"
                                   data-val="{{ itemValue }}"
                                  >
                                <span>{{ itemKey | e }}</span>
                                <span>{{ itemValue | e }}</span>
                              </div>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </wa-details>
                  {% endif %}
                {% endfor %}
              </div>
{%- endblock htmBodyStatsHubPage %}
            </div>
          </wa-drawer>
{%- endblock htmBodySidebarHubPage %}
        </div>
