{%- macro inputPkProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pk">
  {%- endif %}
                  <wa-input
                      readonly
                      placeholder="[Long] primary key"
                      label="primary key"
                      type="number"
                      hint="
The primary key of this object in the database"
                      id="{{classApiMethodMethod}}_pk"
  {%- if "Page" == classApiMethodMethod %}
                      data-projectResource={{ result.projectResource | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_pk setPk classProject inputProject{{ result.projectResource }}Pk "
                      name="setPk"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_pk setPk classProject inputProject{{ result.projectResource }}Pk "
                      name="setPk"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_pk valuePk classProject inputProject{{ result.projectResource }}Pk "
                      name="pk"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.pk | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPkProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPkProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCreatedProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A created timestamp for this record in the database"
                      label="created {{ formatZonedDateTime(result.created, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{classApiMethodMethod}}_created datetimepicker setCreated classProject inputProject{{ result.projectResource }}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_created"
                      value="{%- if "Page" == classApiMethodMethod and result.created is defined %}{{ formatZonedDateTime(result.created, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-projectResource={{ result.projectResource | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A modified timestamp for this record in the database"
                      label="modified {{ formatZonedDateTime(result.modified, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{classApiMethodMethod}}_modified datetimepicker setModified classProject inputProject{{ result.projectResource }}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="{{classApiMethodMethod}}_modified"
                      value="{%- if "Page" == classApiMethodMethod and result.modified is defined %}{{ formatZonedDateTime(result.modified, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {%- if 'Page' == classApiMethodMethod %}
  {%- endif %}
                      data-projectResource={{ result.projectResource | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-button variant="brand"
                      id="{{classApiMethodMethod}}_archived"
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
                      class="label-on-left {{classApiMethodMethod}}_archived classProject inputProject{{ result.projectResource }}Archived "
                      name="setArchived"
                      data-projectResource={{ result.projectResource | tojson }}
                      data-val="{{ result.archived | e }}"
                      >archive</wa-button>
  {%- else %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-checkbox
                      id="{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <wa-select
                      id="{{classApiMethodMethod}}_archived"
  {%- endif %}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classProject inputProject{{ result.projectResource }}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_archived classProject inputProject{{ result.projectResource }}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_archived setArchived valueArchived classProject inputProject{{ result.projectResource }}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.archived == true %}
                      checked
    {%- endif %}
                      data-projectResource={{ result.projectResource | tojson }}
                      >archive</wa-checkbox>
  {%- else %}
                      >
                    <wa-option value=""></wa-option>
                    <wa-option value="true">true</wa-option>
                    <wa-option value="false">false</wa-option>
                  </wa-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputHubIdProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_hubId">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] ACM Hub"
                      label="ACM Hub"
                      hint="
The name of the ACM Hub for this cluster in Prometheus Keycloak Proxy. "
                      id="{{classApiMethodMethod}}_hubId"
  {%- if "Page" == classApiMethodMethod %}
                      data-projectResource={{ result.projectResource | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_hubId setHubId classProject inputProject{{ result.projectResource }}HubId "
                      name="setHubId"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_hubId setHubId classProject inputProject{{ result.projectResource }}HubId "
                      name="setHubId"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_hubId valueHubId classProject inputProject{{ result.projectResource }}HubId "
                      name="hubId"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.hubId | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmHubIdProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputHubIdProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputClusterNameProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_clusterName">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] cluster name"
                      label="cluster name"
                      hint="
The name of this cluster"
                      id="{{classApiMethodMethod}}_clusterName"
  {%- if "Page" == classApiMethodMethod %}
                      data-projectResource={{ result.projectResource | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_clusterName setClusterName classProject inputProject{{ result.projectResource }}ClusterName "
                      name="setClusterName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_clusterName setClusterName classProject inputProject{{ result.projectResource }}ClusterName "
                      name="setClusterName"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_clusterName valueClusterName classProject inputProject{{ result.projectResource }}ClusterName "
                      name="clusterName"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.clusterName | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmClusterNameProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputClusterNameProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputProjectNameProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_projectName">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] project name"
                      label="project name"
                      hint="
The name of this project"
                      id="{{classApiMethodMethod}}_projectName"
  {%- if "Page" == classApiMethodMethod %}
                      data-projectResource={{ result.projectResource | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_projectName setProjectName classProject inputProject{{ result.projectResource }}ProjectName "
                      name="setProjectName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_projectName setProjectName classProject inputProject{{ result.projectResource }}ProjectName "
                      name="setProjectName"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_projectName valueProjectName classProject inputProject{{ result.projectResource }}ProjectName "
                      name="projectName"
    {%- endif %}
  {%- endif %}
  {%- if "Page" == classApiMethodMethod %}
                      value="{{result.projectName | e }}"
  {%- endif %}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmProjectNameProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputProjectNameProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputDescriptionProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_description">
  {%- endif %}
                  <wa-textarea resize="auto"
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] description"
                      label="description"
                      hint="
A description of this project"
                      id="{{classApiMethodMethod}}_description"
  {%- if "Page" == classApiMethodMethod %}
                      data-projectResource={{ result.projectResource | tojson }}
                      class="label-on-left {{classApiMethodMethod}}_description setDescription classProject inputProject{{ result.projectResource }}Description "
                      name="setDescription"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_description setDescription classProject inputProject{{ result.projectResource }}Description "
                      name="setDescription"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_description valueDescription classProject inputProject{{ result.projectResource }}Description "
                      name="description"
    {%- endif %}
  {%- endif %}
{%- if "Page" == classApiMethodMethod %}
                      value="{{result.description | e }}"
{%- endif %}
                      >
</wa-textarea>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmDescriptionProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputDescriptionProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputGpuEnabledProjectPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_gpuEnabled">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-checkbox
                      id="{{classApiMethodMethod}}_gpuEnabled"
                      value="true"
  {%- else %}
                  <wa-select
                      id="{{classApiMethodMethod}}_gpuEnabled"
  {%- endif %}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="GPU enabled"
                      label="GPU enabled"
                      hint="Whether GPUs are enabled for this project. "
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_gpuEnabled classProject inputProject{{ result.projectResource }}GpuEnabled "
                      name="setGpuEnabled"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{classApiMethodMethod}}_gpuEnabled classProject inputProject{{ result.projectResource }}GpuEnabled "
                      name="setGpuEnabled"
    {%- else %}
                      class="label-on-left {{classApiMethodMethod}}_gpuEnabled setGpuEnabled valueGpuEnabled classProject inputProject{{ result.projectResource }}GpuEnabled "
                      name="setGpuEnabled"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.gpuEnabled == true %}
                      checked
    {%- endif %}
                      data-projectResource={{ result.projectResource | tojson }}
                      >GPU enabled</wa-checkbox>
  {%- else %}
                      >
                    <wa-option value=""></wa-option>
                    <wa-option value="true">true</wa-option>
                    <wa-option value="false">false</wa-option>
                  </wa-select>
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmGpuEnabledProjectPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputGpuEnabledProjectPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}

{%- macro htmButton_patchProject() %}<wa-button variant="brand" id="htmButton_patchProject" data-projectResource={{ result.projectResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-edit "></i>Modify</wa-button>{%- endmacro %}

{%- macro htmFormButton_patchProject() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_patchProject" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_patchProject"
                >Modify project</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_patchProject"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_patchProject() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="patchProjectDialog" label="Modify project">
          <form id="htmForm_patchProject" class="round-row primary-smart-border-radius ">
            <wa-details open class="HtmRow" id="project-details">
              <div slot="summary">
                <span>project details</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmHubIdProjectPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmHubIdProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmHubIdProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmClusterNameProjectPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmClusterNameProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmClusterNameProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmProjectNameProjectPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmProjectNameProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmProjectNameProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmDescriptionProjectPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmDescriptionProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmDescriptionProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmGpuEnabledProjectPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmGpuEnabledProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmGpuEnabledProjectPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_patchProject() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmButton_postProject() %}<wa-button variant="brand" id="htmButton_postProject" data-projectResource={{ result.projectResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-file-plus "></i>Create</wa-button>{%- endmacro %}

{%- macro htmFormButton_postProject() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_postProject" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_postProject"
                >Create an project</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_postProject"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_postProject() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="postProjectDialog" label="Create an project">
          <form id="htmForm_postProject" class="round-row primary-smart-border-radius ">
            <div>You can override any default values below: </div>
            <wa-details open class="HtmRow" id="project-details">
              <div slot="summary">
                <span>project details</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "POST" in scopes %}
                {{ htmHubIdProjectPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmHubIdProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmHubIdProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "POST" in scopes %}
                {{ htmClusterNameProjectPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmClusterNameProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmClusterNameProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "POST" in scopes %}
                {{ htmProjectNameProjectPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmProjectNameProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmProjectNameProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "POST" in scopes %}
                {{ htmDescriptionProjectPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmDescriptionProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmDescriptionProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "POST" in scopes %}
                {{ htmGpuEnabledProjectPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmGpuEnabledProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmGpuEnabledProjectPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_postProject() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmButton_deleteProject() %}<wa-button variant="brand" id="htmButton_deleteProject" data-projectResource={{ result.projectResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-trash "></i>Delete</wa-button>{%- endmacro %}

{%- macro htmFormButton_deleteProject() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deleteProject" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deleteProject"
                >Delete project</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deleteProject"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deleteProject() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deleteProjectDialog" label="Delete project">
          <form id="htmForm_deleteProject" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deleteProject() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmButton_putimportProject() %}<wa-button variant="brand" id="htmButton_putimportProject" data-projectResource={{ result.projectResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-file-import "></i>Import</wa-button>{%- endmacro %}

{%- macro htmFormButton_putimportProject() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_putimportProject" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_putimportProject"
                >Import projects</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_putimportProject"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_putimportProject() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="putimportProjectDialog" label="Import projects">
          <form id="htmForm_putimportProject" class="round-row primary-smart-border-radius ">
            <div>
              <wa-textarea
                  class="PUTImport_searchList "
                  style="height: 300px; "
                  placeholder="{ 'searchList': [ { 'projectResource': ... , 'saves': [ ... ] }, ... ] }"
                  >
              </wa-textarea>
            </div>
          </form>
          {{ htmFormButton_putimportProject() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmButton_searchpageProject() %}{%- endmacro %}

{%- macro htmFormButton_searchpageProject() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_searchpageProject" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_searchpageProject"
                >Search projects</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_searchpageProject"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_searchpageProject() %}
        <div with-header with-footer style="--width: 50vw; " id="searchpageProjectDialog" label="Search projects">
          <div id="htmForm_searchpageProject" class="round-row primary-smart-border-radius ">
            <wa-details class="HtmRow" id="primary-key-id-created-modified-archive-details">
              <div slot="summary">
                <span>primary key, ID, created, modified, archive details</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmPkProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmPkProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmPkProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmCreatedProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmCreatedProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmCreatedProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmModifiedProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmModifiedProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmModifiedProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmArchivedProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmArchivedProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmArchivedProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
            <wa-details open class="HtmRow" id="project-details">
              <div slot="summary">
                <span>project details</span>
              </div>
              <div class="grid-with-subgrid-2col ">

              {%- if "PATCH" in scopes %}
                {{ htmHubIdProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmHubIdProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmHubIdProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmClusterNameProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmClusterNameProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmClusterNameProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmProjectNameProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmProjectNameProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmProjectNameProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmDescriptionProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmDescriptionProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmDescriptionProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}

              {%- if "PATCH" in scopes %}
                {{ htmGpuEnabledProjectPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
              {%- else %}
                {%- if "GET" in scopes %}
                  {{ htmGpuEnabledProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {%- else %}
                  {{ htmGpuEnabledProjectPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
              {%- endif %}
              </div>
            </wa-details>
          </div>
        </div>
{%- endmacro %}

{%- macro htmButton_deletefilterProject() %}<wa-button variant="brand" id="htmButton_deletefilterProject" data-projectResource={{ result.projectResource | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-trash "></i>Delete</wa-button>{%- endmacro %}

{%- macro htmFormButton_deletefilterProject() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deletefilterProject" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deletefilterProject"
                >Delete project</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deletefilterProject"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deletefilterProject() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deletefilterProjectDialog" label="Delete project">
          <form id="htmForm_deletefilterProject" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deletefilterProject() }}
        </wa-dialog>
{%- endmacro %}
          <div id="htmSearchForm">
            <wa-scroller>
              <wa-button-group>
{% if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {% if "PATCH" in scopes %}
    {% if resultCount >= 1 %}
                <wa-button variant="brand" id="refreshThisProjectGenPage"
                     onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'projectResource:{{ result.projectResource }}' } ], {}, this, function() { addGlow(document.querySelector('#refreshThisProjectGenPage')); }, function() { addError(document.querySelector('#refreshThisProjectGenPage')); }); return false; ">
                  <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-sync-alt "></i>
                  refresh
                </wa-button>
    {% endif %}
    {% if resultCount > 0 %}
                <wa-button variant="brand" id="refreshAllProjectGenPage{{ result.projectResource | e }}"
                     onclick="patch{{classSimpleName}}Vals([], {}, this, function() { addGlow(document.querySelector('#refreshAllProjectGenPage{{ result.projectResource | e }}')); }, function() { addError(document.querySelector('#refreshAllProjectGenPage{{ result.projectResource | e }}')); }); "
                    >
                  <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrows-rotate"></i>
                  refresh all 
                </wa-button>
    {% endif %}
  {% endif %}
{% endif %}
{%- if 'PATCH' in scopes %}
  {%- if resultCount > 0 %}
    {%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
    {{ htmButton_patchProject() }}
    {%- endif %}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmButton_postProject() }}
  {%- else %}
    {{ htmButton_postProject() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if result is defined %}
    {{ htmButton_deleteProject() }}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmButton_putimportProject() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if result is not defined %}
    {%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
    {{ htmButton_deletefilterProject() }}
    {%- endif %}
  {%- endif %}
{%- endif %}

              </wa-button-group>
            </wa-scroller>
          </div>
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchProject() }}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postProject() }}
  {%- else %}
    {{ htmForm_postProject() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteProject() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportProject() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterProject() }}
  {%- else %}
  {%- endif %}
{%- endif %}
