          <wa-scroller>
            <wa-button-group class="no-gradient" id="htmSearchButtons">
              <wa-button class="SearchButtons_Filters SearchButtons_Filters_Project " variant="brand" onclick="document.querySelector('#siteSidebarToggleFilters').open = true; ">
                <wa-icon slot="start" class="{{ FONTAWESOME_STYLE }} fa-filters hover-box-shadow "></wa-icon> 
                Filters
              </wa-button>
              {% if solrId is not defined %}
              <wa-button class="SearchButtons_Sort SearchButtons_Sort_Project " variant="brand" onclick="document.querySelector('#siteSidebarToggleSort').open = true; ">
                <wa-icon slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z hover-box-shadow "></wa-icon> 
                Sort
              </wa-button>
              {% endif %}
              <wa-button class="SearchButtons_Range SearchButtons_Range_Project " variant="brand" onclick="document.querySelector('#siteSidebarToggleRange').open = true; ">
                <wa-icon slot="start" class="{{ FONTAWESOME_STYLE }} fa-calendar-range hover-box-shadow "></wa-icon> 
                Range
              </wa-button>
              <wa-button class="SearchButtons_Pivot SearchButtons_Pivot_Project " variant="brand" onclick="document.querySelector('#siteSidebarTogglePivot').open = true; ">
                <wa-icon slot="start" class="{{ FONTAWESOME_STYLE }} fa-table-pivot hover-box-shadow "></wa-icon> 
                Pivot
              </wa-button>
              {% if solrId is not defined %}
              <wa-button class="SearchButtons_Stats SearchButtons_Stats_Project " variant="brand" onclick="document.querySelector('#siteSidebarToggleStats').open = true; ">
                <wa-icon slot="start" class="{{ FONTAWESOME_STYLE }} fa-chart-candlestick hover-box-shadow "></wa-icon> 
                Stats
              </wa-button>
              {% endif %}
              <wa-button class="SearchButtons_Api SearchButtons_Api_Project " variant="brand" href="{{ apiUri }}{% if result.projectResource is defined %}/{{ result.projectResource }}{% else %}{{ queryStr }}{% endif %}">
                <wa-icon slot="start" class="{{ FONTAWESOME_STYLE }} fa-brackets-curly hover-box-shadow "></wa-icon> 
                Api
              </wa-button>
            </wa-button-group>
          </wa-scroller>
