{% include en-us/search/ai-node/AiNodeSearchFormMacros.htm %}
{% include en-us/search/hub/HubSearchFormMacros.htm %}
{% include en-us/search/cluster/ClusterSearchFormMacros.htm %}
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchAiNode() }}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postAiNode() }}
  {%- else %}
    {{ htmForm_postAiNode() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteAiNode() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportAiNode() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterAiNode() }}
  {%- else %}
  {%- endif %}
{%- endif %}
