{% extends "en-us/PageLayout.htm" %}
{%- macro code(code) %}
<div class="wa-flank wa-gap-2xs "><wa-copy-button value="{{ code | e }}"></wa-copy-button><wa-scroller><pre><code>{{ code | e }}</code></pre></wa-scroller></div>
{%- endmacro %}
{%- macro articleH1(resultName) -%}
    <h1 class="wa-heading-3xl">
      {{ result.name | e }}
    </h1>
{%- endmacro %}
{%- macro articleAuthor(result) -%}
      <div class="wa-heading-m ">
        by 
        <a href="{{ resultAuthorUrl | e }}">
          {{ result.authorName | e }}
        </a>
      </div>
{%- endmacro %}
{%- macro articleCreated(result) -%}
      <div class="wa-caption-l ">
        <div class="wa-stack wa-gap-3xs ">
          <wa-relative-time format="long" sync="true" date="{{ formatZonedDateTime(result.created, "yyyy-MM-dd'T'HH:mm:ss.SSSX", defaultLocaleId, "UTC") }}"></wa-relative-time>
          <wa-format-date weekday="short" month="short" day="numeric" year="numeric" date="{{ formatZonedDateTime(result.created, "yyyy-MM-dd'T'HH:mm:ss.SSSX", defaultLocaleId, "UTC") }}"></wa-format-date>
        </div>
      </div>
{%- endmacro %}
{%- macro articleImage(result) -%}
    <div class="wa-frame:landscape wa-border-radius-l "{% if result.pageImageWidth %} style="aspect-ratio: {{ result.pageImageWidth }} / {{ result.pageImageHeight }}; "{% endif %}>
      <img
          src="{{ STATIC_BASE_URL }}{{ result.pageImageUri }}"
{% if result.pageImageAlt is defined %}
          alt="{{ result.pageImageAlt | e }}"
{% endif %}
          />
    </div>
{%- endmacro %}
{%- macro articleShare(result) -%}
    <div class="wa-stack wa-gap-2xl">
      <h3 class="wa-heading-xl">Don't forget to share this page!</h3>
      <div class="wa-cluster" style="justify-content: center;">
        <wa-button class="tile"
            href="https://www.linkedin.com/shareArticle?mini=true&url={{ result.displayPage | urlencode }}"
            target="_blank"
            >
          <i slot="start" class="fa-brands fa-linkedin fa-2xl"></i>
          <div class="wa-caption-s" style="color: black;"><b>LinkedIn</b></div>
        </wa-button>
        <wa-button
            href="https://www.facebook.com/sharer/sharer.php?u={{ result.displayPage | urlencode }}"
            target="_blank"
            class="tile"
            >
          <i slot="start" class="fa-brands fa-facebook fa-2xl"></i>
          <div class="wa-caption-s" style="color: black;"><b>Facebook</b></div>
        </wa-button>
      </div>
    </div>
{%- endmacro %}
{%- macro prerequisiteArticles(result) -%}
{%- if result.prerequisiteArticles | length > 0 -%}
    <div class="wa-stack">
      <h3 class="wa-heading-xl">Prerequisite Article{%- if result.nextArticles | length > 0 -%}s{% else %}{% endif %}</h3>
      <wa-carousel navigation pagination slides-per-page="2" slides-per-move="2" style="--aspect-ratio: initial">
        {% for prerequisiteArticle in result.prerequisiteArticles %}
        <wa-carousel-item>
          <a href="{{ prerequisiteArticle.displayPage }}" class="wa-link-plain">
            <wa-card with-image>
              <div class="wa-frame:landscape" slot="media"{% if prerequisiteArticle.pageImageWidth %} style="aspect-ratio: {{ prerequisiteArticle.pageImageWidth }} / {{ prerequisiteArticle.pageImageHeight }}; "{% endif %}>
                <wa-frame>
                  <img
                      src="{{ STATIC_BASE_URL }}{{ prerequisiteArticle.pageImageUri }}"
{%- if prerequisiteArticle.pageImageAlt is defined %}
                      alt="{{ prerequisiteArticle.name | e }}"
{%- endif %}
                      />
                </wa-frame>
              </div>
              <div class="wa-stack wa-gap-xs">
                <span class="wa-heading-m">{{ prerequisiteArticle.name | e }}</span>
              </div>
            </wa-card>
          </a>
        </wa-carousel-item>
        {% endfor %}
      </wa-carousel>
    </div>
{%- endif %}
{%- endmacro %}
{%- macro nextArticles(result) -%}
{%- if result.nextArticles | length > 0 -%}
    <div class="wa-stack">
      <h3 class="wa-heading-xl">Next Article{%- if result.nextArticles | length > 0 -%}s{% else %}{% endif %}</h3>
      <wa-carousel navigation pagination slides-per-page="2" slides-per-move="2" style="--aspect-ratio: initial">
        {% for nextArticle in result.nextArticles %}
        <wa-carousel-item>
          <a href="{{ nextArticle.displayPage }}" class="wa-link-plain">
            <wa-card with-image>
              <div class="wa-frame:landscape" slot="media"{% if nextArticle.pageImageWidth %} style="aspect-ratio: {{ nextArticle.pageImageWidth }} / {{ nextArticle.pageImageHeight }}; "{% endif %}>
                <wa-frame>
                  <img
                      src="{{ STATIC_BASE_URL }}{{ nextArticle.pageImageUri }}"
{%- if nextArticle.pageImageAlt is defined %}
                      alt="{{ nextArticle.name | e }}"
{%- endif %}
                      />
                </wa-frame>
              </div>
              <div class="wa-stack wa-gap-xs">
                <span class="wa-heading-m">{{ nextArticle.name | e }}</span>
              </div>
            </wa-card>
          </a>
        </wa-carousel-item>
        {% endfor %}
      </wa-carousel>
    </div>
{%- endif %}
{%- endmacro %}
{%- macro relatedArticles(result) -%}
{%- if result.relatedArticles | length > 0 -%}
    <div class="wa-stack">
      <h3 class="wa-heading-xl">Related Article{%- if result.nextArticles | length > 0 -%}s{% else %}{% endif %}</h3>
      <wa-carousel navigation pagination slides-per-page="2" slides-per-move="2" style="--aspect-ratio: initial">
        {% for relatedArticle in result.relatedArticles %}
        <wa-carousel-item>
          <a href="{{ relatedArticle.displayPage }}" class="wa-link-plain">
            <wa-card with-image>
              <div class="wa-frame:landscape" slot="media"{% if relatedArticle.pageImageWidth %} style="aspect-ratio: {{ relatedArticle.pageImageWidth }} / {{ relatedArticle.pageImageHeight }}; "{% endif %}>
                <wa-frame>
                  <img
                      src="{{ STATIC_BASE_URL }}{{ relatedArticle.pageImageUri }}"
{%- if relatedArticle.pageImageAlt is defined %}
                      alt="{{ relatedArticle.name | e }}"
{%- endif %}
                      />
                </wa-frame>
              </div>
              <div class="wa-stack wa-gap-xs">
                <span class="wa-heading-m">{{ relatedArticle.name | e }}</span>
              </div>
            </wa-card>
          </a>
        </wa-carousel-item>
        {% endfor %}
      </wa-carousel>
    </div>
{%- endif %}
{%- endmacro %}
{%- macro articleStart(result) -%}
<div class="wa-stack ">
  <div class="wa-flank:end wa-align-items-end ">
{{ articleH1(result) }}
    <div class="wa-stack wa-gap-3xs ">
{{ articleAuthor(result) }}
{{ articleCreated(result) }}
    </div>
  </div>
  <div class="wa-stack " style="max-width: 80ch; ">
{{ prerequisiteArticles(result) }}
{%- endmacro %}
{%- macro articleEnd(result) -%}
    <wa-divider style="margin-block-start: 2rem; --width: 3px;"></wa-divider>
  </div>
  <div class="wa-stack" style="text-align: center;">
{{ articleShare(result) }}
    <wa-divider></wa-divider>
{{ nextArticles(result) }}
{{ relatedArticles(result) }}
  </div>
</div>
{%- endmacro %}
{% block htmTitlePageLayout %}
    <title>{{ result.name | e }}</title>
{% endblock htmTitlePageLayout %}
{% block htmBodyMiddlePageLayout %}
{{ articleStart(result) }}
{% block htmBodyMiddleArticle %}{% endblock %}
{{ articleEnd(result) }}
{% endblock %}
