{%- macro jsFunctionName(divId) %}
{%- set divIdWords = divId.split('-') -%}
{%- set divIdCamelCaseWords = [] -%}
{%- for word in divIdWords -%}
    {%- if loop.first -%}
        {%- set _ = divIdCamelCaseWords.append(word) -%}
    {%- else -%}
        {%- set _ = divIdCamelCaseWords.append(word|capitalize) -%}
    {%- endif -%}
{%- endfor -%}
{%- set jsFunctionName = divIdCamelCaseWords|join('') -%}
{{ jsFunctionName }}
{% endmacro -%}

{%- macro dashboardPromise(divId) %}
{{ jsFunctionName(divId) }}(timeQuery)
{% endmacro -%}

{%- macro dashboardCard(divId, cardTitle) %}
      <wa-card with-header>
        <header slot="header" class="wa-heading-m ">{{ cardTitle | e}}</header>
        <wa-tab-group>
          <wa-tab panel="chart">Chart</wa-tab>
          <wa-tab panel="data">Data</wa-tab>
          <wa-tab-panel name="chart">
            <div id="{{ divId | e }}"></div>
          </wa-tab-panel>
          <wa-tab-panel name="data">
            <wa-scrollable>
              <table class="wa-zebra-rows wa-hover-rows">
                <thead>
                  <tr>
                    <th>
                      hub
                    </th>
                    <th>
                      cluster
                    </th>
                    <th>
                      project
                    </th>
                    <th>
                      VM
                    </th>
                    <th>
                      {{ cardTitle | e }}
                    </th>
                  </tr>
                </thead>
                <tbody id="{{ divId | e }}-data-tbody">
                </tbody>
              </table>
            </wa-scrollable>
          </wa-tab-panel>
        </wa-tab-group>
      </wa-card>
{% endmacro -%}

{%- macro hubClusterProjectDashboardAsyncFunction(divId, yaxisTitle, classSimpleName, legendTitle, resultLabel, metricPrefix, metricMiddle='', metricSuffix='', clusterVar='clusterName', projectLabel='namespace', projectVar='projectName', tickformat=null) %}

    function {{ jsFunctionName(divId) }}Popover(event) {
      var buttonId = event.target.getAttribute('id');
      var hubId = event.target.getAttribute('data-hubId');
      var dataValues = JSON.parse(event.target.getAttribute('data-values'));
      var dataMetric = JSON.parse(event.target.getAttribute('data-metric'));

      var $statsPopoverButton = event.target;
      var $statsPopover = document.getElementById($statsPopoverButton.getAttribute('data-popover'));
      $statsPopover.innerHTML = '';

      var $popoverStack = document.createElement('div');
      $popoverStack.setAttribute('class', 'wa-stack ');
      $statsPopover.append($popoverStack);

      var $headerHub = document.createElement('div');
      $headerHub.setAttribute('class', 'wa-heading-m ');
      $headerHub.innerText = 'hub: ' + hubId;
      $popoverStack.append($headerHub);

      var $headerCluster = document.createElement('div');
      $headerCluster.setAttribute('class', 'wa-heading-m ');
      $headerCluster.innerText = 'cluster: ' + dataMetric.cluster;
      $popoverStack.append($headerCluster);

      var $headerProject = document.createElement('div');
      $headerProject.setAttribute('class', 'wa-heading-m ');
      $headerProject.innerText = 'project: ' + dataMetric.{{ projectLabel }};
      $popoverStack.append($headerProject);

      var $headerVar = document.createElement('div');
      $headerVar.setAttribute('class', 'wa-heading-m ');
      $headerVar.innerText = '{{ resultLabel }}: ' + dataMetric.{{ resultLabel }};
      $popoverStack.append($headerVar);

      $popoverStack.append(document.createElement('wa-divider'));

      var $stack = document.createElement('div');
      $stack.setAttribute('class', 'wa-stack ');
      $popoverStack.append($stack);

      var dates = dataValues.map(values => new Date(values[0] * 1000));
      var vals = dataValues.map(values => parseFloat(values[1]));
      var formatterFixed = new Intl.NumberFormat('en-US', { minimumFractionDigits: 3, maximumFractionDigits: 3 });

      var minVal = Math.min(...vals);
      var $minSplit = document.createElement('div');
      $minSplit.setAttribute('class', 'wa-split ');
      $stack.append($minSplit);
      var $minSpan = document.createElement('span');
      $minSpan.setAttribute('class', 'wa-caption-m ');
      $minSpan.innerText = 'min';
      $minSplit.append($minSpan);
      var $minStrong = document.createElement('strong');
      $minStrong.innerText = formatterFixed.format(minVal);
      $minSplit.append($minStrong);
      $minStrong.setAttribute('id', buttonId + '-min');
      var $minTooltip = document.createElement('wa-tooltip');
      $minTooltip.setAttribute('for', buttonId + '-min');
      //$statsPopover.append($minTooltip);
      $stack.append(document.createElement('wa-divider'));

      var sumVals = vals.reduce((sum, val) => sum + val, 0);
      var avgVal = sumVals / vals.length;
      var $avgSplit = document.createElement('div');
      $avgSplit.setAttribute('class', 'wa-split ');
      $stack.append($avgSplit);
      var $avgSpan = document.createElement('span');
      $avgSpan.setAttribute('class', 'wa-caption-m ');
      $avgSpan.innerText = 'avg';
      $avgSplit.append($avgSpan);
      var $avgStrong = document.createElement('strong');
      $avgStrong.innerText = formatterFixed.format(avgVal);
      $avgStrong.setAttribute('id', buttonId + '-avg');
      var $avgTooltip = document.createElement('wa-tooltip');
      $avgTooltip.setAttribute('for', buttonId + '-avg');
      //$statsPopover.append($avgTooltip);
      $avgSplit.append($avgStrong);
      $stack.append(document.createElement('wa-divider'));

      var maxVal = Math.max(...vals);
      var $maxSplit = document.createElement('div');
      $maxSplit.setAttribute('class', 'wa-split ');
      $stack.append($maxSplit);
      var $maxSpan = document.createElement('span');
      $maxSpan.setAttribute('class', 'wa-caption-m ');
      $maxSpan.innerText = 'max';
      $maxSplit.append($maxSpan);
      var $maxStrong = document.createElement('strong');
      $maxStrong.innerText = formatterFixed.format(maxVal);
      $maxStrong.setAttribute('id', buttonId + '-max');
      var $maxTooltip = document.createElement('wa-tooltip');
      $maxTooltip.setAttribute('for', buttonId + '-max');
      //$statsPopover.append($maxTooltip);
      $maxSplit.append($maxStrong);

      var $statsCloseButton = document.createElement('wa-button');
      $statsCloseButton.setAttribute('data-popover', 'close');
      $statsCloseButton.setAttribute('variant', 'brand');
      $statsCloseButton.innerText = 'close';
      $popoverStack.append($statsCloseButton);
    }

    async function {{ jsFunctionName(divId) }}(timeQuery) {
      const urls = [];
      const hubIds = Object.keys(window.varsFq.hubId.facetField.counts);
      var requestHubIds = [];
      hubIds.forEach((hubId, i) => {
        var projects = list{{ classSimpleName }}.filter(o => o.hubId === hubId);
        var uniqueClusterNames = [...new Set(projects.map(item => item.{{ clusterVar }}))];
        uniqueClusterNames.forEach(({{ clusterVar }}, i) => {
          var uniqueProjectNames = [...new Set(projects.filter(project => project.{{ clusterVar }} === {{ clusterVar }}).map(project => project.{{ projectVar }}))];
          var projectNamesFilter = 'cluster="' + {{ clusterVar }} + '", {{ projectLabel }}=~"' + uniqueProjectNames.join('|') + '"';
          urls.push('/prom-keycloak-proxy/' + encodeURIComponent(hubId) + '/api/v1/query_range?' + new URLSearchParams(Object.assign({ 
              query: '{{ metricPrefix }}' + projectNamesFilter + {% if metricMiddle != '' %}'{{ metricMiddle }}' + projectNamesFilter + {% endif %}'{{ metricSuffix }}'
              }, timeQuery)).toString());
          requestHubIds.push(hubId);
        });
      });
      const responses = await Promise.all(urls.map(url => fetch(url)));
      const dataPromises = responses.map(response => response.json());
      const responseJsons = await Promise.all(dataPromises);
      var end = new Date();
      var start = new Date(new Date().setHours(end.getHours() - 1));

      var $tbody = document.getElementById('{{ divId | e }}-data-tbody');
      var panelId = '{{ divId | e }}';
      var traces = [];
      responseJsons.forEach((responseJson, i) => {
        var hubId = requestHubIds[i];
        responseJson.data.result.forEach((result, j) => {
          traces.push({
            x: result.values.map(values => new Date(values[0] * 1000))
            , y: result.values.map(values => parseFloat(values[1]))
            , mode: 'scatter'
            , name: (result.metric.{{ resultLabel }} + ' in ' + result.metric.{{ projectLabel }} + ' in ' + result.metric.cluster + ' in ' + hubId).substring(0, 90)
            , text: result.values.map(values => '<a href="/en-us/edit/cluster/' + result.metric.cluster + '">' + hubId + ' ' + result.metric.cluster + ' ' + result.metric.{{ projectLabel }} + '</a>')
          });

          var $tr = document.createElement('tr');

          var $hub = document.createElement('td');
          $hub.innerText = hubId;
          $tr.append($hub);

          var $cluster = document.createElement('td');
          $cluster.innerText = result.metric.cluster;
          $tr.append($cluster);

          var ${{ projectLabel }} = document.createElement('td');
          ${{ projectLabel }}.innerText = result.metric.{{ projectLabel }};
          $tr.append(${{ projectLabel }});

          var ${{ resultLabel }} = document.createElement('td');
          ${{ resultLabel }}.innerText = result.metric.{{ resultLabel }};
          $tr.append(${{ resultLabel }});

          var $val = document.createElement('td');
          $tr.append($val);

          var $statsPopover = document.createElement('wa-popover');
          $statsPopover.setAttribute('id', '{{ divId | e }}-data-stats-button-' + j + '-popover');
          $statsPopover.setAttribute('for', '{{ divId | e }}-data-stats-button-' + j);
          $val.append($statsPopover);

          var $statsButton = document.createElement('wa-button');
          $statsButton.setAttribute('id', '{{ divId | e }}-data-stats-button-' + j);
          $statsButton.setAttribute('data-popover', '{{ divId | e }}-data-stats-button-' + j + '-popover');
          $statsButton.setAttribute('data-metric', JSON.stringify(result.metric));
          $statsButton.setAttribute('data-values', JSON.stringify(result.values));
          $statsButton.setAttribute('data-hubId', hubId);
          $statsButton.setAttribute('onclick', "{{ jsFunctionName(divId) }}Popover(event);");
          $statsButton.innerText = 'stats';
          $val.append($statsButton);

          $tbody.append($tr);
        });
      });

      var layout = {
        xaxis: {
          title: 'Time in {{ defaultZoneId }}'
        }
        , yaxis: {
          title: '{{ yaxisTitle | e }}'
          {% if tickformat is defined -%}
          , tickformat: '{{ tickformat }}'
          {%- endif %}
        }
        , legend: {
          title: {
            text: '{{ legendTitle | e }}'
          }
          , xanchor: 'center'
          , x: 0.4
          , yanchor: 'top'
          , y: -0.2
          , orientation: 'v'
        }
        , height: 600
        , margin: {
          l: 50
          , r: 0
          , b: 0
          , t: 0
          , pad: 1
        }
      };
      Plotly.newPlot(panelId, traces, layout);
    }

{% endmacro -%}

<!DOCTYPE html>
<html lang="{{ SITE_LOCALE }}" class="wa-{{ userSiteTheme | default(SITE_THEME) }} wa-theme-{{ userWebComponentsTheme | default(WEB_COMPONENTS_THEME) }} ">
  <head>
{%- block htmHeadPageLayout %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{%- block htmMetaPageLayout %}
{%- if result is defined %}
    <meta name="og:title" content="{{ result.name | e }}" />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="{{ STATIC_BASE_URL }}{{ result.pageImageUri }}" />
{%- if result.pageImageWidth is defined %}
    <meta name="og:image:width" content="{{ result.pageImageWidth }}" />
    <meta name="og:image:height" content="{{ result.pageImageHeight }}" />
    <meta name="og:image:type" content="{{ result.pageImageType }}" />
{%- endif %}
{%- if result.pageImageWidth is defined %}
    <meta name="og:image:alt" content="{{ result.pageImageAlt }}" />
{%- endif %}
    <meta name="og:url" content="{{ result.displayPage }}" />
    <meta name="og:description" content="{{ result.description }}" />
{%- endif %}
{%- endblock htmMetaPageLayout %}
{%- block htmTitlePageLayout %}
    <title>{{ SITE_DISPLAY_NAME }}</title>
{%- endblock htmTitlePageLayout %}
{%- block htmStylesPageLayout %}
    <link rel="icon" href="{{ STATIC_BASE_URL }}/favicon.svg" />
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/leaflet.draw.css" />
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/leaflet.contextmenu.css"/>
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/site.css"/>
{%- endblock htmStylesPageLayout %}
    <style>
{%- block htmStylePageLayout %}{%- endblock htmStylePageLayout %}
    </style>
{%- block htmScriptsPageLayout %}
{%- if FONTAWESOME_KIT is defined %}
    {{ FONTAWESOME_KIT }}
{%- endif %}
    <script type="module">

      function siteSearchInput(event) {
        var filters = [];
        if(event.target.value == '')
          filters.push({ name: 'q', value: '*:*' });
        else
          filters.push({ name: 'q', value: event.target.value ? 'objectSuggest:' + event.target.value : '' });

        fetch(
          '{{ USER_SEARCH_URI if userName is defined else PUBLIC_SEARCH_URI }}?' + filters.map(function(m) { return m.name + '=' + encodeURIComponent(m.value) }).join('&')
          , {
            headers: {'Content-Type':'application/json; charset=utf-8'}
          }).then(response => {
            if(response.ok) {
              var dropdown = document.querySelector('#siteSearchDropdown');
              var dropdownMenu = document.querySelector('#siteSearchDropdownMenu');
              response.json().then(function(body) {
                dropdownMenu.innerHTML = '';
                body.list.forEach((o) => {
                  var menuItem = document.createElement('wa-dropdown-item');
                  menuItem.innerText = o.objectTitle;
                  menuItem.setAttribute('data-href', o.displayPage);
                  dropdownMenu.appendChild(menuItem);
                  menuItem.addEventListener('click', (event) => window.location.href = event.target.getAttribute('data-href') );
                });
                dropdown.active = true;
              });
            } else {
              error(response, event.target);
            }
          })
          .catch(response => error(response, event.target));
      }

      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
      ]).then(() => {
        var input = document.querySelector('#siteSearchInput');
        var dropdown = document.querySelector('#siteSearchDropdown');
        input.addEventListener('input', siteSearchInput);
        input.addEventListener('focus', siteSearchInput);
        document.body.addEventListener('click', function(event) {
          if(!dropdown.contains(event.target))
            dropdown.active = false;
        });
        document.body.addEventListener('keyup', (event) => {
          if (event.key === 'Escape' && dropdown.active)
            dropdown.active = false;
        });
      });
    </script>
    {%- if WEB_COMPONENTS_KIT is defined %}
    {{ WEB_COMPONENTS_KIT }}
    {%- endif %}
    <script src="{{ STATIC_BASE_URL }}/js/site.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/sockjs.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/vertx-eventbus.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/plotly-2.9.0.min.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/leaflet.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/leaflet.draw.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/leaflet.contextmenu.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/moment.js"></script>
{%- endblock htmScriptsPageLayout %}
{%- block htmScriptPageLayout %}
{%- endblock htmScriptPageLayout %}
{%- endblock htmHeadPageLayout %}
    <script>
{%- block websocketPageLayout %}{%- endblock websocketPageLayout %}
    </script>
  </head>
  <body class="wa-body-{{ userFontSize }} wa-size-{{ userFontSize }} wa-cloak ">
    {% if WEB_COMPONENTS_PRO == 'true' -%}
    <wa-page disable-sticky="header">
    {%- else -%}
    <div id="site-grid">
    {%- endif %}
{%- block htmBodyPageLayout %}
{%- block htmBodyStartPageLayout %}
      {% if WEB_COMPONENTS_PRO == 'false' -%}
      <wa-drawer placement="start" id="site-aside-left" class="margin-block-end-1rem ">
        {%- endif %}
        <nav{% if WEB_COMPONENTS_PRO == 'true' %} slot="navigation"{% endif %}>
          <div class="display-flex-center ">
            <a href="/">
              <img id="site-aside-left-img-logo" src="{{ STATIC_BASE_URL }}/svg/logo-{{ userSiteTheme | default(SITE_THEME) }}.svg"/>
            </a>
          </div>
          <div class="wa-grid " style="--min-column-size: 15ch; ">
            <wa-button variant="brand" href="https://www.youtube.com/watch?v=5_y5PFtsTYk&list=PLcVjtgfCeLvQu8KDUjmwHzbFqbg5K70zN" variant="brand" target="_blank">
              Youtube
              <i slot="start" label="Follow us on Youtube" class="fa-brands fa-youtube fa-2xl"></i>
            </wa-button>
            <wa-button variant="brand" href="https://github.com/{{ GITHUB_ORG }}/{{ SITE_NAME }}" variant="brand" target="_blank">
              GitHub
              <i slot="start" label="View our source code on GitHub" class="fa-brands fa-github fa-2xl"></i>
            </wa-button>
            <wa-button variant="brand" href="https://www.linkedin.com/in/computate/" variant="brand" target="_blank">
              LinkedIn
              <i slot="start" label="Share on LinkedIn" class="fa-brands fa-linkedin fa-2xl"></i>
            </wa-button>
            <wa-button variant="brand" href="mailto:{{ MAILING_LIST_EMAIL }}" variant="brand" target="_blank">
              Email
              <i slot="start" label="Share with email" class="{{ FONTAWESOME_STYLE }} fa-envelope-open fa-2xl"></i>
            </wa-button>
          </div>
          <div class="wa-stack ">
            <div>
{%- if userName is defined %}
              <wa-details>
                <div slot="summary" class="wa-stack ">
                  <wa-tooltip for="siteUserSummary">
                    <div class="wa-stack ">
                      <div>
                        {{ userFullName }}{% if userEmail is defined %} &lt;{{ userEmail | e }}&gt;{% endif %}
                      </div>
                    </div>
                  </wa-tooltip>
                  <div id="siteUserSummary" class="wa-cluster ">
                    <wa-avatar label="user"></wa-avatar>
                    <div>
                      user: {{ userName | e }}
                    </div>
                  </div>
                </div>
                <div class="wa-stack ">
                  <wa-tooltip for="site-button-user-page">see or change your user profile</wa-tooltip>
                  <wa-tooltip for="site-button-logout" placement="right">sign out</wa-tooltip>
                  <div>
                    <wa-button id="site-button-user-page" variant="brand" href="{{ SITE_BASE_URL }}{% if userId is defined %}/en-us/edit/user/{{ userId }}{% else %}/en-us/search/user{% endif %}" label="see or change your user profile">
                      <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-house-user"></i>
                      <span>my user page</span>
                    </wa-button>
                    <wa-button id="site-button-logout" variant="brand" href="{{ logoutUrl }}" label="sign out">
                      <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-person-from-portal"></i>
                      <span>sign out</span>
                    </wa-button>
                  </div>
                  <wa-details summary="User groups" open="true">
                    <div class="wa-stack ">
                      <wa-scroller>
                          {% for group in userGroups %}
                          <div>
                            <a target="_blank" href="{{ AUTH_URL }}/admin/master/console/#/{{ AUTH_REALM | urlencode() }}/clients/{{ AUTH_CLIENT | urlencode() }}/authorization/policy/{{ AUTH_REALM | urlencode() }}-group-{{ group | regex_replace('/?(.*)', '$1') | urlencode() }}/group">
                              <wa-badge variant="success">
                                {{ group | e }}
                              </wa-badge>
                            </a>
                          </div>
                          {% endfor %}
                      </wa-scroller>
                    </div>
                  </wa-details>
                  <wa-details summary="Current scopes" open="true">
                    <div class="wa-stack ">
                      <wa-scroller>
                        <div>
                          <wa-tag variant="neutral">{{ pageUri }}</wa-tag>
                        </div>
                        <div>
                          {% for scope in scopes %}
                          <a target="_blank" href="{{ AUTH_URL }}/admin/master/console/#/{{ AUTH_REALM | urlencode() }}/clients/{{ AUTH_CLIENT | urlencode() }}/authorization/scope/{{ AUTH_REALM | urlencode() }}-{{ scope | urlencode() }}">
                            <wa-badge variant="success">
                              {{ scope }}
                            </wa-badge>
                          </a>
                          {% endfor %}
                        </div>
                      </wa-scroller>
                    </div>
                  </wa-details>
                </div>
              </wa-details>
{%- else %}
              <wa-button variant="brand" href="{{ SITE_BASE_URL }}/en-us/search/user">
                <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-person-to-portal"></i> login
              </wa-button>
{%- endif %}
            </div>
            <div>

              <wa-details summary="info" open="true">
                <div class="wa-stack ">
                  <wa-button style="width: 100%; " variant="brand" id="site-aside-left-model-button-SitePage" href="{{ SITE_BASE_URL }}/en-us/search/article">
                    <i slot="start" class="fa-duotone fa-regular fa-newspaper"></i>
                    articles
                  </wa-button>
                </div>
              </wa-details>
{% if ENABLE_FEATURE_OBSERVABILITY %}

            <wa-details summary="OpenShift clusters" open="true" class="wa-stack ">
              <div class="wa-stack ">
                <wa-button variant="brand" id="site-aside-left-model-button-Tenant" href="{{ SITE_BASE_URL }}/en-us/search/hub">
                  <i class="fa-regular fa-sitemap"></i>
                  ACM hubs
                </wa-button>
                <wa-button variant="brand" id="site-aside-left-model-button-Cluster" href="{{ SITE_BASE_URL }}/en-us/search/cluster">
                  <i class="fa-regular fa-server"></i>
                  clusters
                </wa-button>
                    <wa-button variant="brand" id="site-aside-left-model-button-AiNode" href="{{ SITE_BASE_URL }}/en-us/search/ai-node">
                  <i class="fa-regular fa-computer"></i>
                  AI nodes
                </wa-button>
                    <wa-button variant="brand" id="site-aside-left-model-button-GpuDevice" href="{{ SITE_BASE_URL }}/en-us/search/gpu-device">
                  <i class="fa-regular fa-memory"></i>
                  GPU devices
                </wa-button>
                  <wa-button variant="brand" id="site-aside-left-model-button-Project" href="{{ SITE_BASE_URL }}/en-us/search/project">
                  <i class="fa-regular fa-people-line"></i>
                  projects
                </wa-button>
                <wa-button style="width: 100%; " variant="brand" id="site-aside-left-model-button-VirtualMachine" href="{{ SITE_BASE_URL }}/en-us/search/vm">
                  <i slot="start" class="fa-regular fa-sidebar"></i>
                  view virtual machines
                </wa-button>
              </div>
            </wa-details>
{% endif %}
{% if ENABLE_FEATURE_ORDER_CLUSTER or ENABLE_FEATURE_OBSERVE_CLUSTER %}

            <wa-details summary="OpenShift clusters" open="true">
              <div class="wa-stack ">
{% if ENABLE_FEATURE_ORDER_CLUSTER %}
              <wa-button style="width: 100%; " variant="brand" id="site-aside-left-model-button-ClusterOrder" href="{{ SITE_BASE_URL }}/en-us/search/cluster-order">
                <i class="fa-regular fa-server"></i>
                  click here to order cluster
              </wa-button>
{% endif %}
                <wa-button variant="brand" id="site-aside-left-model-button-ClusterTemplate" href="{{ SITE_BASE_URL }}/en-us/search/cluster-template">
                <i class="fa-regular fa-server"></i>
                  view OpenShift cluster templates
              </wa-button>
{% if ENABLE_FEATURE_ORDER_CLUSTER %}
                <wa-button variant="brand" id="site-aside-left-model-button-ClusterOrder" href="{{ SITE_BASE_URL }}/en-us/search/cluster-order">
                <i class="fa-regular fa-server"></i>
                  view OpenShift cluster orders
              </wa-button>
{% endif %}
                <wa-button variant="brand" id="site-aside-left-model-button-ManagedCluster" href="{{ SITE_BASE_URL }}/en-us/search/managed-cluster">
                <i class="fa-regular fa-server"></i>
                  view ACM Hub clusters
              </wa-button>
              </div>
            </wa-details>
{% endif %}
{% if ENABLE_FEATURE_ORDER_BARE_METAL || ENABLE_FEATURE_OBSERVE_BARE_METAL %}

            <wa-details summary="bare metal" open="true">
              <div class="wa-stack ">
{% if ENABLE_FEATURE_ORDER_BARE_METAL %}
                <wa-button style="width: 100%; " variant="brand" id="site-aside-left-model-button-BareMetalOrder" href="{{ SITE_BASE_URL }}/en-us/search/bare-metal-order">
                  <i class="fa-regular fa-regular fa-share-nodes"></i>
                  click here to order bare metal
              </wa-button>
{% endif %}
                <wa-button variant="brand" id="site-aside-left-model-button-BareMetalResourceClass" href="{{ SITE_BASE_URL }}/en-us/search/bare-metal-resource-class">
                <i class="fa-regular fa-server"></i>
                  view bare metal resource classes
              </wa-button>
                <wa-button variant="brand" id="site-aside-left-model-button-BareMetalNetwork" href="{{ SITE_BASE_URL }}/en-us/search/bare-metal-network">
                <i class="fa-regular fa-regular fa-network-wired"></i>
                  view bare metal networks
              </wa-button>
{% if ENABLE_FEATURE_ORDER_BARE_METAL %}
                <wa-button variant="brand" id="site-aside-left-model-button-BareMetalOrder" href="{{ SITE_BASE_URL }}/en-us/search/bare-metal-order">
                <i class="fa-regular fa-regular fa-share-nodes"></i>
                  view bare metal orders
                </wa-button>
{% endif %}
                <wa-button variant="brand" id="site-aside-left-model-button-BareMetalNode" href="{{ SITE_BASE_URL }}/en-us/search/bare-metal-node">
                  <i class="fa-regular fa-regular fa-hexagon-nodes"></i>
                  view bare metal nodes
              </wa-button>
              </div>
            </wa-details>
{% endif %}
            </div>
          </div>
        </nav>
      {% if WEB_COMPONENTS_PRO == 'false' -%}
      </wa-drawer>
      {% endif %}
      <main class="wa-stack ">
        <wa-drawer id="warnings-drawer" label="Warnings">
          <div id="warnings-drawer-stack" class="wa-stack ">
          </div>
        </wa-drawer>
        <header slot="header" class="wa-flank margin-block ">
          <wa-button data-toggle-nav variant="brand" label="open menu"{% if WEB_COMPONENTS_PRO == 'false' %} onclick="document.querySelector('#site-aside-left').open = true;"{% endif %}>
            <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-bars"></i>
          </wa-button>
          <wa-popup  placement="bottom-start" id="siteSearchDropdown">
            <wa-input slot="anchor" placeholder="search" id="siteSearchInput">
              <i slot="start" class="{{ FONTAWESOME_STYLE }}  fa-magnifying-glass"></i>
            </wa-input>
            <div id="siteSearchDropdownMenu">
            </div>
          </wa-popup>
        </header>
{%- endblock htmBodyStartPageLayout %}
{% block htmBodyMiddlePageLayout %}
        <main slot="main" class="pageContent wa-stack wa-gap-3xl ">
          put stuff here
        </main>
{%- endblock htmBodyMiddlePageLayout %}
{%- block htmBodyEndPageLayout %}
        <footer class="no-gradient wa-cluster wa-align-items-center " slot="main-footer">
          {% if GITHUB_ORG is defined %}
          <wa-button variant="brand" href="https://github.com/{{ GITHUB_ORG }}/{{ SITE_NAME }}" variant="brand" target="_blank" appearance="filled outlined" class="tile">
            <div class="wa-cluster" style="gap: 1ch;">
              <span>This site is</span>
              <i class="fa-brands fa-github fa-xl"></i>
              <b>open source</b>
            </div>
          </wa-button>
          {% endif %}
          <wa-button variant="brand" href="https://computate.org/" variant="brand" target="_blank" id="footer-generated-by" appearance="filled outlined" class="tile">
            <div class="wa-cluster" style="gap: 1ch;">
              <span>Generated with </span>
              <img class="footer-img" style="font-weight: var(--wa-font-weight-bold);" src="{{ STATIC_BASE_URL }}/svg/computate-keys.svg" alt="Computate"/>
            </div>
          </wa-button>
          {% if SITE_POWERED_BY_URL is defined %}
          <wa-button variant="brand" href="{{ SITE_POWERED_BY_URL }}" variant="brand" target="_blank" id="footer-powered-by" appearance="filled outlined" class="tile">
            <div class="wa-cluster" style="gap: 1ch;">
              <span>Powered by </span>
              <i class="fa-brands fa-redhat fa-xl" style="color: #ff0000;"></i>
              <b>{{ SITE_POWERED_BY_NAME | e }}</b>
            </div>
          </wa-button>
          {% endif %}
        </footer>
      </main>
    {% if WEB_COMPONENTS_PREFIX == 'wa-' -%}
    </wa-page>
    {%- else -%}
    </div>
    {% endif %}
{%- endblock htmBodyEndPageLayout %}
{%- endblock htmBodyPageLayout %}
  </body>
</html>
