<!DOCTYPE html>
<html lang="{{ SITE_LOCALE }}" class="wa-{{ userSiteTheme | default(SITE_THEME) }} wa-theme-{{ userWebComponentsTheme | default('default') }} ">
  <head>
{%- block htmHeadPageLayout %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{%- block htmMetaPageLayout %}
{%- endblock htmMetaPageLayout %}
{%- block htmTitlePageLayout %}
    <title>{{ SITE_DISPLAY_NAME }}</title>
{%- endblock htmTitlePageLayout %}
{%- block htmStylesPageLayout %}
    <link rel="icon" href="{{ STATIC_BASE_URL }}/favicon.svg" />
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/styles/webawesome.css" />
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/styles/themes/{{ userWebComponentsTheme | default('default') }}.css" />
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/leaflet.draw.css" />
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/leaflet.contextmenu.css"/>
    <link rel="stylesheet" href="{{ STATIC_BASE_URL }}/css/site.css"/>
{%- endblock htmStylesPageLayout %}
    <style>{%- block htmStylePageLayout %}{%- endblock htmStylePageLayout %}</style>
{%- block htmScriptsPageLayout %}
{%- if FONTAWESOME_KIT is defined %}
    {{ FONTAWESOME_KIT }}
{%- endif %}
    <script type="module">

      function siteSearchInput(event) {
        var filters = [];
        if(event.target.value == '')
          filters.push({ name: 'q', value: '*:*' });
        else
          filters.push({ name: 'q', value: event.target.value ? 'objectSuggest:' + event.target.value : '' });

        fetch(
          '{{ USER_SEARCH_URI if userName is defined else PUBLIC_SEARCH_URI }}?' + filters.map(function(m) { return m.name + '=' + encodeURIComponent(m.value) }).join('&')
          , {
            headers: {'Content-Type':'application/json; charset=utf-8'}
          }).then(response => {
            if(response.ok) {
              var dropdown = document.querySelector('#siteSearchDropdown');
              var dropdownMenu = document.querySelector('#siteSearchDropdownMenu');
              response.json().then(function(body) {
                dropdownMenu.innerHTML = '';
                body.list.forEach((o) => {
                  var menuItem = document.createElement('wa-menu-item');
                  menuItem.innerText = o.objectTitle;
                  menuItem.setAttribute('data-href', o.displayPage);
                  dropdownMenu.appendChild(menuItem);
                  menuItem.addEventListener('click', (event) => window.location.href = event.target.getAttribute('data-href') );
                });
                dropdown.show();
              });
            } else {
              error(response, event.target);
            }
          })
          .catch(response => error(response, event.target));
      }

      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
      ]).then(() => {
        document.querySelector('#siteSearchInput')?.addEventListener('input', siteSearchInput);
        document.querySelector('#siteSearchInput')?.addEventListener('focus', siteSearchInput);
      });
    </script>
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/webawesome.loader.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/site.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/sockjs.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/vertx-eventbus.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/plotly-2.9.0.min.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/leaflet.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/leaflet.draw.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/leaflet.contextmenu.js"></script>
    <script src="{{ STATIC_BASE_URL }}/js/moment.js"></script>
{%- endblock htmScriptsPageLayout %}
{%- block htmScriptPageLayout %}
{%- endblock htmScriptPageLayout %}
{%- endblock htmHeadPageLayout %}
    <script>
{%- block websocketPageLayout %}{%- endblock websocketPageLayout %}
    </script>
   </head>
  <body class="wa-body-{{ userFontSize }} wa-size-{{ userFontSize }} ">
    <wa-page disable-sticky="header">
{%- block htmBodyPageLayout %}
{%- block htmBodyStartPageLayout %}
      <nav slot="navigation">
          <div class="display-flex-center ">
            <a href="/">
              <img id="site-aside-left-img-logo" src="{{ STATIC_BASE_URL }}/svg/logo-{{ userSiteTheme | default(SITE_THEME) }}.svg"/>
            </a>
          </div>
          <div class="wa-stack ">
            <div>
{%- if userName is defined %}
              <wa-details>
                <div slot="summary">
                  <wa-avatar label="user"></wa-avatar>
                  user: {{userName}}
                </div>
                <div>{{ userFullName }}</div>
                <div>{{ userEmail }}</div>
                <wa-tooltip for="site-button-user-page">see or change your user profile</wa-tooltip>
                <wa-tooltip for="site-button-logout" placement="right">sign out</wa-tooltip>
                <div>
                  <wa-button id="site-button-user-page" variant="brand" href="{{ SITE_BASE_URL }}/en-us/edit/user/{{ userId }}" label="see or change your user profile">
                    <wa-icon slot="start" class="fa-regular fa-regular  fa-house-user"></wa-icon>
                    <span>my user page</span>
                  </wa-button>
                  <wa-button id="site-button-logout" variant="brand" href="{{ logoutUrl }}" label="sign out">
                    <wa-icon slot="start" class="fa-regular fa-regular  fa-person-from-portal"></wa-icon>
                    <span>sign out</span>
                  </wa-button>
                </div>
                <wa-details summary="User groups" open="true">
                  <div class="wa-stack ">
                    <div>
                      {% for group in userGroups %}
                      <wa-badge variant="success">{{ group }}</wa-badge>
                      {% endfor %}
                    </div>
                  </div>
                </wa-details>
                <wa-details summary="Current scopes" open="true">
                  <div class="wa-stack ">
                    <div>
                      <wa-tag variant="neutral">{{ pageUri }}</wa-tag>
                    </div>
                    <div>
                      {% for scope in scopes %}
                      <wa-badge variant="success">{{ scope }}</wa-badge>
                      {% endfor %}
                    </div>
                  </div>
                </wa-details>
              </wa-details>
{%- else %}
              <wa-button variant="brand" href="{{ SITE_BASE_URL }}/en-us/search/user">
                <wa-icon class="fa-regular fa-regular  fa-person-to-portal"></wa-icon> login
              </wa-button>
{%- endif %}
            </div>
          <div class="wa-stack ">
              <wa-button style="width: 100%; " variant="brand" id="site-aside-left-model-button-SitePage" href="{{ SITE_BASE_URL }}/en-us/search/article">
                <wa-icon class="fa-regular fa-newspaper"></wa-icon>
                articles
              </wa-button>

{% if ENABLE_FEATURE_OBSERVABILITY %}
{% if userGroups is defined and ("/HUB" in userGroups or "/Admin" in userGroups or "/SuperAdmin" in userGroups) %}
            <wa-details summary="ACM Hubs" open="true" class="wa-stack ">
              <div class="wa-stack ">
                <wa-button variant="brand" id="site-aside-left-model-button-Tenant" href="{{ SITE_BASE_URL }}/en-us/search/hub?facet.field=hubId">
                  <wa-icon class="fa-regular fa-sitemap"></wa-icon>
                  ACM hubs
                </wa-button>
              </div>
            </wa-details>
{% endif %}

            <wa-details summary="AI Telemetry" open="true" class="wa-stack ">
              <div class="wa-stack ">
                <wa-button variant="brand" id="site-aside-left-model-button-Cluster" href="{{ SITE_BASE_URL }}/en-us/search/cluster?facet.field=hubId">
                <wa-icon class="fa-regular fa-server"></wa-icon>
                clusters
              </wa-button>
                  <wa-button variant="brand" id="site-aside-left-model-button-AiNode" href="{{ SITE_BASE_URL }}/en-us/search/ai-node?facet.field=hubId">
                <wa-icon class="fa-regular fa-computer"></wa-icon>
                AI nodes
              </wa-button>
                  <wa-button variant="brand" id="site-aside-left-model-button-GpuDevice" href="{{ SITE_BASE_URL }}/en-us/search/gpu-device?facet.field=hubId">
                <wa-icon class="fa-regular fa-memory"></wa-icon>
                GPU devices
              </wa-button>
                <wa-button variant="brand" id="site-aside-left-model-button-Project" href="{{ SITE_BASE_URL }}/en-us/search/project?facet.field=hubId">
                <wa-icon class="fa-regular fa-school"></wa-icon>
                projects
              </wa-button>
              </div>
            </wa-details>
{% endif %}
{% if ENABLE_FEATURE_ORDER_CLUSTER or ENABLE_FEATURE_OBSERVE_CLUSTER %}

            <wa-details summary="OpenShift clusters" open="true">
              <div class="wa-stack ">
{% if ENABLE_FEATURE_ORDER_CLUSTER %}
              <wa-button style="width: 100%; " variant="brand" id="site-aside-left-model-button-ClusterOrder" href="{{ SITE_BASE_URL }}/en-us/search/cluster-order">
                <wa-icon class="fa-regular fa-server"></wa-icon>
                  click here to order cluster
              </wa-button>
{% endif %}
                <wa-button variant="brand" id="site-aside-left-model-button-ClusterTemplate" href="{{ SITE_BASE_URL }}/en-us/search/cluster-template">
                <wa-icon class="fa-regular fa-server"></wa-icon>
                  view OpenShift cluster templates
              </wa-button>
{% if ENABLE_FEATURE_ORDER_CLUSTER %}
                <wa-button variant="brand" id="site-aside-left-model-button-ClusterOrder" href="{{ SITE_BASE_URL }}/en-us/search/cluster-order">
                <wa-icon class="fa-regular fa-server"></wa-icon>
                  view OpenShift cluster orders
              </wa-button>
{% endif %}
                <wa-button variant="brand" id="site-aside-left-model-button-ManagedCluster" href="{{ SITE_BASE_URL }}/en-us/search/managed-cluster">
                <wa-icon class="fa-regular fa-server"></wa-icon>
                  view ACM Hub clusters
              </wa-button>
              </div>
            </wa-details>
{% endif %}
{% if ENABLE_FEATURE_ORDER_BARE_METAL || ENABLE_FEATURE_OBSERVE_BARE_METAL %}

            <wa-details summary="bare metal" open="true">
              <div class="wa-stack ">
{% if ENABLE_FEATURE_ORDER_BARE_METAL %}
                <wa-button style="width: 100%; " variant="brand" id="site-aside-left-model-button-BareMetalOrder" href="{{ SITE_BASE_URL }}/en-us/search/bare-metal-order">
                  <wa-icon class="fa-regular fa-regular fa-share-nodes"></wa-icon>
                  click here to order bare metal
                </wa-button>
{% endif %}
                <wa-button variant="brand" id="site-aside-left-model-button-BareMetalResourceClass" href="{{ SITE_BASE_URL }}/en-us/search/bare-metal-resource-class">
                <wa-icon class="fa-regular fa-server"></wa-icon>
                  view bare metal resource classes
              </wa-button>
                <wa-button variant="brand" id="site-aside-left-model-button-BareMetalNetwork" href="{{ SITE_BASE_URL }}/en-us/search/bare-metal-network">
                <wa-icon class="fa-regular fa-regular fa-network-wired"></wa-icon>
                  view bare metal networks
              </wa-button>
{% if ENABLE_FEATURE_ORDER_BARE_METAL %}
                <wa-button variant="brand" id="site-aside-left-model-button-BareMetalOrder" href="{{ SITE_BASE_URL }}/en-us/search/bare-metal-order">
                <wa-icon class="fa-regular fa-regular fa-share-nodes"></wa-icon>
                  view bare metal orders
                </wa-button>
{% endif %}
                <wa-button variant="brand" id="site-aside-left-model-button-BareMetalNode" href="{{ SITE_BASE_URL }}/en-us/search/bare-metal-node">
                  <wa-icon class="fa-regular fa-regular fa-hexagon-nodes"></wa-icon>
                  view bare metal nodes
              </wa-button>
              </div>
            </wa-details>
{% endif %}
          </div>
            </div>
      </nav>
      <main class="wa-stack ">
        <wa-drawer id="warnings-drawer" label="Warnings">
          <div id="warnings-drawer-stack" class="wa-stack ">
          </div>
        </wa-drawer>
        <header slot="header" class="wa-flank margin-block-start ">
          <wa-button data-toggle-nav variant="brand" label="open menu">
            <wa-icon name="bars"></wa-icon>
          </wa-button>
          <wa-input placeholder="search" id="siteSearchInput">
            <wa-icon slot="start" class="fa-regular fa-regular  fa-magnifying-glass"></wa-icon>
          </wa-input>
        </header>
        <wa-dropdown id="siteSearchDropdown" class="display-block ">
          <wa-menu id="siteSearchDropdownMenu">
          </wa-menu>
        </wa-dropdown>
{%- endblock htmBodyStartPageLayout %}
{% block htmBodyMiddlePageLayout %}
        <div class="pageContent wa-stack wa-gap-3xl ">
          put stuff here
        </div>
{%- endblock htmBodyMiddlePageLayout %}
{%- block htmBodyEndPageLayout %}
        <footer>
          {% if GITHUB_ORG is defined %}
          <a href="https://github.com/{{ GITHUB_ORG }}/{{ SITE_NAME }}/" target="_blank">
            <wa-card>
              This site is <b><wa-icon class="fa-brands fa-github fa-xl"></wa-icon> open source</b>
            </wa-card>
          </a>
          {% endif %}
          <a href="https://www.computate.org/" target="_blank" id="footer-generated-by">
            <wa-card>
                Generated with <b><img class="footer-img" src="{{ STATIC_BASE_URL }}/svg/computate-keys.svg" alt="Computate"/></b>
            </wa-card>
          </a>
          {% if SITE_POWERED_BY_URL is defined %}
          <a href="{{ SITE_POWERED_BY_URL }}" target="_blank" id="footer-powered-by">
            <wa-card>
              Powered by <wa-icon class="fa-brands fa-redhat fa-xl" style="color: #ff0000;"></wa-icon> <b>{{ SITE_POWERED_BY_NAME | e }}</b>
            </wa-card>
          </a>
          {% endif %}
        </footer>
{%- endblock htmBodyEndPageLayout %}
{%- endblock htmBodyPageLayout %}
      </main>
    </wa-page>
  </body>
</html>
