{% include en-us/search/cluster-request/ClusterRequestSearchFormMacros.htm %}
{% include en-us/search/cluster-template/ClusterTemplateSearchFormMacros.htm %}
{% include en-us/search/user/SiteUserSearchFormMacros.htm %}
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchClusterRequest() }}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postClusterRequest() }}
  {%- else %}
    {{ htmForm_postClusterRequest() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteClusterRequest() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportClusterRequest() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterClusterRequest() }}
  {%- else %}
  {%- endif %}
{%- endif %}
