
{%- macro htmButton_patchTenant() %}<wa-button variant="brand" id="htmButton_patchTenant"  data-dialog="open patchTenantDialog" data-tenantId={{ result.tenantId | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-edit "></i>Modify</wa-button>{%- endmacro %}

{%- macro htmButton_postTenant() %}<wa-button variant="brand" id="htmButton_postTenant"  data-dialog="open postTenantDialog" data-tenantId={{ result.tenantId | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-file-plus "></i>Create</wa-button>{%- endmacro %}

{%- macro htmButton_deleteTenant() %}<wa-button variant="brand" id="htmButton_deleteTenant" data-tenantId={{ result.tenantId | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-trash "></i>Delete</wa-button>{%- endmacro %}

{%- macro htmButton_putimportTenant() %}<wa-button variant="brand" id="htmButton_putimportTenant"  data-dialog="open putimportTenantDialog" data-tenantId={{ result.tenantId | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-file-import "></i>Import</wa-button>{%- endmacro %}

{%- macro htmButton_deletefilterTenant() %}<wa-button variant="brand" id="htmButton_deletefilterTenant" data-tenantId={{ result.tenantId | tojson }}><i slot="start" class="{{ FONTAWESOME_STYLE }} fa-trash "></i>Delete</wa-button>{%- endmacro %}
          <div id="htmSearchForm">
            <wa-scroller>
              <wa-button-group>
{% if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {% if "PATCH" in scopes %}
    {% if resultCount >= 1 %}
                <wa-button variant="brand" id="refreshThisTenantGenPage"
                     onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'tenantId:{{ result.tenantId }}' } ], {}, this, function() { addGlow(document.querySelector('#refreshThisTenantGenPage')); }, function() { addError(document.querySelector('#refreshThisTenantGenPage')); }); return false; ">
                  <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-sync-alt "></i>
                  refresh
                </wa-button>
    {% endif %}
    {% if resultCount > 0 %}
                <wa-button variant="brand" id="refreshAllTenantGenPage{{ result.tenantId | e }}"
                     onclick="patch{{classSimpleName}}Vals([], {}, this, function() { addGlow(document.querySelector('#refreshAllTenantGenPage{{ result.tenantId | e }}')); }, function() { addError(document.querySelector('#refreshAllTenantGenPage{{ result.tenantId | e }}')); }); "
                    >
                  <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrows-rotate"></i>
                  refresh all 
                </wa-button>
    {% endif %}
  {% endif %}
{% endif %}
{%- if 'PATCH' in scopes %}
  {%- if resultCount > 0 %}
    {%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
    {{ htmButton_patchTenant() }}
    {%- endif %}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmButton_postTenant() }}
  {%- else %}
    {{ htmButton_postTenant() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if result is defined %}
    {{ htmButton_deleteTenant() }}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmButton_putimportTenant() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if result is not defined %}
    {%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
    {{ htmButton_deletefilterTenant() }}
    {%- endif %}
  {%- endif %}
{%- endif %}

              </wa-button-group>
            </wa-scroller>
          </div>
