{%- extends "en-us/search/cluster/ClusterGenSearchPage.htm" -%}
{% import "en-us/Chart.htm" %}
{%- block facetChangeClusterSuccess %}
      updateDashboards();
{% endblock facetChangeClusterSuccess -%}
{%- block htmScriptInitClusterPage %}
        updateDashboards();
{%- endblock htmScriptInitClusterPage %}
{%- block htmBodyEndClusterPage -%}
{%- if resultCount > 0 -%}
<wa-details open class="HtmRow" id="observability-dashboard">
  <div slot="summary">
    Observability dashboard for OpenShift clusters
  </div>
  <div class="wa-stack ">
    <div class="wa-grid ">
      {{ dashboardCard('visualization-cluster-memory-bytes', 'Percent of total memory usage for all clusters', min=0) }}
      {{ dashboardCard('visualization-cluster-cpu-bytes', 'Percent of total CPU usage for all clusters', min=0) }}
    </div>
    <div class="wa-grid">
      {{ dashboardCard('visualization-cluster-dropped-packets-rate', 'Rate of dropped packets (averaged over 1m) for all clusters', min=0)}}
    </div>
    <div class="wa-grid ">
      {{ dashboardCard('visualization-cluster-gpu-utilization', 'GPU utilization per cluster', min=0) }}
    </div>
    <div class="wa-grid ">
      <div class="wa-stack ">
        <div class="wa-grid ">
          <wa-card with-header>
            <header slot="header" class="wa-heading-m ">Number of GPU nodes for all clusters</header>
            <div id="visualization-cluster-gpu-nodes" class=""></div>
          </wa-card>
          <wa-card with-header>
            <header slot="header" class="wa-heading-m ">Number of GPU devices for all clusters</header>
            <div id="visualization-cluster-gpu-devices" class=""></div>
          </wa-card>
        </div>
        <wa-card with-header>
          <header slot="header" class="wa-heading-m ">Number of GPU devices per cluster</header>
          <div id="visualization-cluster-gpu-devices-by-cluster" class="wa-grid "></div>
        </wa-card>
        <wa-card with-header>
          <header slot="header" class="wa-heading-m ">GPU Nodes in not ready state</header>
          <div id="visualization-gpu-nodes-not-ready" class="wa-grid "></div>
        </wa-card>
        <wa-card with-header>
          <header slot="header" class="wa-heading-m ">GPU Nodes without GPU product taint</header>
          <div id="visualization-gpu-nodes-without-taint" class="wa-grid "></div>
        </wa-card>
      </div>
      <wa-card with-header>
        <header slot="header" class="wa-heading-m ">Number of GPU devices per node</header>
        <div id="visualization-cluster-gpu-devices-by-node" class="wa-grid "></div>
      </wa-card>
    </div>
  </div>
</wa-details>
{% endif %}
{{ super() }}
{%- endblock htmBodyEndClusterPage %}
{%- block htmStyleClusterPage %}
      #visualization-cluster-memory-bytes-total, #visualization-cluster-cpu-bytes-total, #visualization-cluster-gpu-nodes, #visualization-cluster-gpu-devices {
        wa-avatar {
          --size: 2em;
        }
      }
      #observability-dashboard {
        .pill {
          border-radius: var(--wa-border-radius-pill);
          &:not(:active) {
            box-shadow: var(--wa-theme-glossy-inner-shine), var(--wa-theme-glossy-top-highlight), inset 0 -.4rem 0 0 rgba(255, 255, 255, 0.1), var(--wa-theme-glossy-lower-shade), var(--wa-theme-glossy-bottom-shadow);
            &:hover {
            background-color: var(--background-color-hover, var(--background-color));
              border-color: var(--border-color-hover, var(--border-color, var(--background-color-hover)));
              color: var(--text-color-hover, var(--text-color));
            }
          }
        }
      }
{%- endblock htmStyleClusterPage %}

      {% block htmScriptsClusterPage -%}
      <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
      <script src="{{ STATIC_BASE_URL }}/js/chartjs-plugin-zoom.js"></script>
      {{ super() }}
      <script>
        {{ updateDashboardsFunctionStart() }}
          Promise.all([
            {{ dashboardPromise('visualization-cluster-memory-bytes') }}
            , {{ dashboardPromise('visualization-cluster-cpu-bytes') }}
            , {{ dashboardPromise('visualization-cluster-gpu-utilization') }}
            , {{ dashboardPromise('visualization-cluster-dropped-packets-rate')}}
            , queryGpuNodesTotal(timeQuery)
            , queryGpuDevicesTotal(timeQuery)
            , queryGpuDevicesByCluster(timeQuery)
            , queryGpuDevicesByNode(timeQuery)
            , queryGpuNodesNotReady(timeQuery)
            , queryGpuNodesWithoutTaint(timeQuery)
          ]);
        {{ updateDashboardsFunctionEnd() }}

        {{ hubClusterProjectDashboardAsyncFunction(
          divId='visualization-cluster-memory-bytes'
          , classSimpleName='Cluster'
          , legendTitle='Clusters'
          , metricPrefix='cluster:memory_usage_bytes:sum{'
          , metricMiddle='} / on(cluster) cluster:capacity_memory_bytes:sum{label_node_role_kubernetes_io!="master"'
          , metricSuffix='}'
          , modelVar='clusterName'
          , timeZone=timeZone
          , formatPercent=true
          , yLabelSuffix='% memory total'
          , datasetLabel='${result.metric.cluster} cluster in ${hubId}'
          , metricLabels=['hub', 'cluster']
          , displayLabels=['hub', 'cluster']
        ) }}

        {{ hubClusterProjectDashboardAsyncFunction(
          divId='visualization-cluster-cpu-bytes'
          , classSimpleName='Cluster'
          , legendTitle='Clusters'
          , metricPrefix='cluster:cpu_usage_cores:sum{'
          , metricMiddle='} / on(cluster) sum by (cluster) (cluster:capacity_cpu_cores:sum{label_node_role_kubernetes_io!="master"'
          , metricSuffix='})'
          , modelVar='clusterName'
          , timeZone=timeZone
          , formatPercent=true
          , yLabelSuffix='% CPU total'
          , datasetLabel='${result.metric.cluster} cluster in ${hubId}'
          , metricLabels=['hub', 'cluster']
          , displayLabels=['hub', 'cluster']
        ) }}

        {{ hubClusterProjectDashboardAsyncFunction(
          divId='visualization-cluster-gpu-utilization'
          , classSimpleName='Cluster'
          , legendTitle='Clusters'
          , metricPrefix='sum(DCGM_FI_DEV_GPU_UTIL{'
          , metricSuffix='} / 100) by (cluster)'
          , modelVar='clusterName'
          , timeZone=timeZone
          , formatPercent=true
          , yLabelSuffix='% GPU utilization in a cycle'
          , datasetLabel='${result.metric.cluster} cluster in ${hubId}'
          , metricLabels=['hub', 'cluster']
          , displayLabels=['hub', 'cluster']
        ) }}

        {{ hubClusterProjectDashboardAsyncFunction(
          divId='visualization-cluster-dropped-packets-rate'
          , classSimpleName='Cluster'
          , legendTitle='Clusters'
          , metricPrefix='instance:node_network_receive_drop_excluding_lo:rate1m{'
          , metricSuffix='} > 0'
          , modelVar='clusterName'
          , timeZone=timeZone
          , formatPercent=false
          , yLabelSuffix='Rate of packet loss'
          , datasetLabel='${result.metric.cluster} cluster in ${hubId}'
          , metricLabels=['hub', 'cluster']
          , displayLabels=['hub', 'cluster']
        ) }}

        async function queryGpuNodesTotal(timeQuery) {
          const urls = [];
          if(window.varsFq.hubId.facetField) {
            const hubIds = Object.keys(window.varsFq.hubId.facetField.counts);
            hubIds.forEach((hubId, i) => {
              urls.push('/prom-keycloak-proxy/' + encodeURIComponent(hubId) + '/api/v1/query?' + new URLSearchParams(Object.assign({ 
                  query: 'sum(gpu_operator_gpu_nodes_total{% if filteredScope %}{cluster=~"{% for cluster in listCluster%}{% if loop.index0 > 0 %}|{% endif %}{{ cluster.clusterNameMetrics | e }}{% endfor %}"}{% endif %})' 
                  }, timeQuery)).toString());
            });
            const responses = await Promise.all(urls.map(url => fetch(url)));
            const dataPromises = responses.map(response => response.json());
            const responseJsons = await Promise.all(dataPromises);

            const totalSum = parseInt(responseJsons.reduce((accumulator, responseJson) => {
              if(responseJson.data && responseJson.data.result.length > 0)
                return accumulator + (responseJson.data.result.length > 0 ? parseInt(responseJson.data.result[0].value[1]) : 0);
              else
                return accumulator;
            }, 0));

            var avatar = document.createElement('wa-avatar');
            avatar.setAttribute('initials', totalSum)
            avatar.setAttribute('class', 'wa-accent wa-brand wa-heading-3xl ');
            avatar.setAttribute('slot', 'icon');
            document.querySelector('#visualization-cluster-gpu-nodes').append(avatar);
          }
        }

        async function queryGpuDevicesTotal(timeQuery) {
          const urls = [];
          if(window.varsFq.hubId.facetField) {
            const hubIds = Object.keys(window.varsFq.hubId.facetField.counts);
            hubIds.forEach((hubId, i) => {
              urls.push('/prom-keycloak-proxy/' + encodeURIComponent(hubId) + '/api/v1/query?' + new URLSearchParams(Object.assign({ 
                  query: 'sum(gpu_operator_node_device_plugin_devices_total{% if filteredScope %}{cluster=~"{% for cluster in listCluster%}{% if loop.index0 > 0 %}|{% endif %}{{ cluster.clusterNameMetrics | e }}{% endfor %}"}{% endif %})' 
                  }, timeQuery)).toString());
            });
            const responses = await Promise.all(urls.map(url => fetch(url)));
            const dataPromises = responses.map(response => response.json());
            const responseJsons = await Promise.all(dataPromises);

            const totalSum = parseInt(responseJsons.reduce((accumulator, responseJson) => {
              if(responseJson.data && responseJson.data.result.length > 0)
                return accumulator + (responseJson.data.result.length > 0 ? parseInt(responseJson.data.result[0].value[1]) : 0);
              else
                return accumulator;
            }, 0));

            var avatar = document.createElement('wa-avatar');
            avatar.setAttribute('initials', totalSum)
            avatar.setAttribute('class', 'wa-accent wa-brand wa-heading-3xl ');
            avatar.setAttribute('slot', 'icon');
            document.querySelector('#visualization-cluster-gpu-devices').append(avatar);
          }
        }

        async function queryGpuDevicesByCluster(timeQuery) {
          const urls = [];
          if(window.varsFq.hubId.facetField) {
            const hubIds = Object.keys(window.varsFq.hubId.facetField.counts);
            hubIds.forEach((hubId, i) => {
              urls.push('/prom-keycloak-proxy/' + encodeURIComponent(hubId) + '/api/v1/query?' + new URLSearchParams(Object.assign({ 
                  query: 'sum(gpu_operator_node_device_plugin_devices_total{% if filteredScope %}{cluster=~"{% for cluster in listCluster%}{% if loop.index0 > 0 %}|{% endif %}{{ cluster.clusterNameMetrics | e }}{% endfor %}"}{% endif %}) by (cluster)' 
                  }, timeQuery)).toString());
            });
            const responses = await Promise.all(urls.map(url => fetch(url)));
            const dataPromises = responses.map(response => response.json());
            const responseJsons = await Promise.all(dataPromises);
            const panelId = 'visualization-cluster-gpu-devices-by-cluster';

            responseJsons.forEach((responseJson, i) => {
              if(responseJson && responseJson.data && responseJson.data.result.length > 0) {
                responseJson.data.result.forEach((result, j) => {
                  var hubId = hubIds[i];
                  var clusterName = result.metric.cluster + ' in ' + hubId;
                  var clusterId = 'HUB-' + hubId + '-CLUSTER-' + result.metric.cluster;
                  var elemId = 'visualization-cluster-gpu-devices-by-cluster-' + clusterId;

                  var a = document.createElement('a');
                  a.setAttribute('href', '/en-us/edit/cluster/' + clusterId);
                  document.querySelector('#' + panelId).append(a);

                  var callout = document.createElement('wa-callout');
                  callout.setAttribute('id', elemId);
                  callout.setAttribute('appearance', 'outlined');
                  callout.setAttribute('variant', 'neutral');
                  callout.setAttribute('class', 'pill');
                  a.append(callout);

                  var avatar = document.createElement('wa-avatar');
                  avatar.setAttribute('initials', result.value[1])
                  avatar.setAttribute('class', 'wa-accent wa-brand ');
                  avatar.setAttribute('slot', 'icon');
                  callout.append(avatar);

                  var stack = document.createElement('div');
                  stack.setAttribute('class', 'wa-stack wa-gap-s ')
                  callout.append(stack);

                  var elem0 = document.createElement('div');
                  elem0.innerText = clusterName;
                  stack.append(elem0);
                });
              }
            });
          }
        }

        async function queryGpuDevicesByNode(timeQuery) {
          const urls = [];
          if(window.varsFq.hubId.facetField) {
            const hubIds = Object.keys(window.varsFq.hubId.facetField.counts);
            hubIds.forEach((hubId, i) => {
              urls.push('/prom-keycloak-proxy/' + encodeURIComponent(hubId) + '/api/v1/query?' + new URLSearchParams(Object.assign({ 
                  query: 'sum(gpu_operator_node_device_plugin_devices_total{% if filteredScope %}{cluster=~"{% for cluster in listCluster%}{% if loop.index0 > 0 %}|{% endif %}{{ cluster.clusterNameMetrics | e }}{% endfor %}"}{% endif %}) by (cluster, node)' 
                  }, timeQuery)).toString());
            });
            const responses = await Promise.all(urls.map(url => fetch(url)));
            const dataPromises = responses.map(response => response.json());
            const responseJsons = await Promise.all(dataPromises);
            const panelId = 'visualization-cluster-gpu-devices-by-node';

            responseJsons.forEach((responseJson, i) => {
              if(responseJson && responseJson.data && responseJson.data.result.length > 0) {
                responseJson.data.result.forEach((result, j) => {
                  var hubId = hubIds[i];
                  var clusterName = result.metric.cluster + ' in ' + hubId;
                  var clusterId = 'HUB-' + hubId + '-CLUSTER-' + result.metric.cluster;
                  var nodeId = 'HUB-' + hubId + '-CLUSTER-' + result.metric.cluster + '-NODE-' + result.metric.node;
                  var elemId = 'visualization-cluster-gpu-devices-by-node-' + clusterId + '-' + result.metric.node;

                  var a = document.createElement('a');
                  a.setAttribute('href', '/en-us/edit/ai-node/' + nodeId);
                  document.querySelector('#' + panelId).append(a);

                  var callout = document.createElement('wa-callout');
                  callout.setAttribute('id', elemId);
                  callout.setAttribute('appearance', 'outlined');
                  callout.setAttribute('variant', 'neutral');
                  callout.setAttribute('class', 'pill');
                  a.append(callout);

                  var avatar = document.createElement('wa-avatar');
                  avatar.setAttribute('initials', result.value[1])
                  avatar.setAttribute('class', 'wa-accent wa-brand ');
                  avatar.setAttribute('slot', 'icon');
                  callout.append(avatar);

                  var stack = document.createElement('div');
                  stack.setAttribute('class', 'wa-stack wa-gap-0 ')
                  callout.append(stack);

                  var elem0 = document.createElement('div');
                  elem0.innerText = clusterName;
                  stack.append(elem0);

                  var elem1 = document.createElement('div');
                  elem1.innerText = result.metric.node;
                  stack.append(elem1);
                });
              }
            });
          }
        }

        async function queryGpuNodesNotReady(timeQuery) {
          const urls = [];
          if(window.varsFq.hubId.facetField) {
            const hubIds = Object.keys(window.varsFq.hubId.facetField.counts);
            hubIds.forEach((hubId, i) => {
              urls.push('/prom-keycloak-proxy/' + encodeURIComponent(hubId) + '/api/v1/query?' + new URLSearchParams(Object.assign({ 
                  query: 'kube_node_status_condition{ {% if filteredScope %}cluster=~"{% for cluster in listCluster%}{% if loop.index0 > 0 %}|{% endif %}{{ cluster.clusterNameMetrics | e }}{% endfor %}", {% endif %}status="unknown", condition="Ready"} * on (cluster, node) group_left(label_nvidia_com_gpu_present) (sum by (cluster, node, label_nvidia_com_gpu_present) (kube_node_labels{ {% if filteredScope %}cluster=~"{% for cluster in listCluster%}{% if loop.index0 > 0 %}|{% endif %}{{ cluster.clusterNameMetrics | e }}{% endfor %}", {% endif %}label_nvidia_com_gpu_present="true" })) > 0' 
                  }, timeQuery)).toString());
            });
            const responses = await Promise.all(urls.map(url => fetch(url)));
            const dataPromises = responses.map(response => response.json());
            const responseJsons = await Promise.all(dataPromises);
            const panelId = 'visualization-gpu-nodes-not-ready';

            responseJsons.forEach((responseJson, i) => {
              if(responseJson && responseJson.data && responseJson.data.result.length > 0) {
                responseJson.data.result.forEach((result, j) => {
                  var hubId = hubIds[i];
                  var clusterName = result.metric.cluster + ' in ' + hubId;
                  var clusterId = 'HUB-' + hubId + '-CLUSTER-' + result.metric.cluster;
                  var nodeId = 'HUB-' + hubId + '-CLUSTER-' + result.metric.cluster + '-NODE-' + result.metric.node;
                  var elemId = 'visualization-gpu-nodes-not-ready-' + clusterId + '-' + result.metric.node;

                  var a = document.createElement('a');
                  a.setAttribute('href', '/en-us/edit/ai-node/' + nodeId);
                  document.querySelector('#' + panelId).append(a);

                  var callout = document.createElement('wa-callout');
                  callout.setAttribute('id', elemId);
                  callout.setAttribute('appearance', 'accent outlined');
                  callout.setAttribute('variant', 'danger');
                  callout.setAttribute('class', 'pill');
                  a.append(callout);

                  var icon = document.createElement('wa-icon');
                  icon.setAttribute('slot', 'icon')
                  icon.setAttribute('name', 'triangle-exclamation')
                  icon.setAttribute('variant', 'solid')
                  callout.append(icon);

                  var stack = document.createElement('div');
                  stack.setAttribute('class', 'wa-stack wa-gap-s ')
                  callout.append(stack);

                  var elem0 = document.createElement('div');
                  elem0.innerText = clusterName;
                  stack.append(elem0);

                  var elem1 = document.createElement('div');
                  elem1.innerText = result.metric.node;
                  stack.append(elem1);
                });
              }
            });
          }
        }

        async function queryGpuNodesWithoutTaint(timeQuery) {
          const urls = [];
          if(window.varsFq.hubId.facetField) {
            const hubIds = Object.keys(window.varsFq.hubId.facetField.counts);
            hubIds.forEach((hubId, i) => {
              urls.push('/prom-keycloak-proxy/' + encodeURIComponent(hubId) + '/api/v1/query?' + new URLSearchParams(Object.assign({ 
                  query: '(sum by (cluster, node, label_nvidia_com_gpu_present) (kube_node_labels{ {% if filteredScope %}cluster=~"{% for cluster in listCluster%}{% if loop.index0 > 0 %}|{% endif %}{{ cluster.clusterNameMetrics | e }}{% endfor %}", {% endif %}label_nvidia_com_gpu_present="true" })) > 0 unless on(cluster, node) kube_node_spec_taint{ {% if filteredScope %}cluster=~"{% for cluster in listCluster%}{% if loop.index0 > 0 %}|{% endif %}{{ cluster.clusterNameMetrics | e }}{% endfor %}", {% endif %}key="nvidia.com/gpu.product" }' 
                  }, timeQuery)).toString());
            });
            const responses = await Promise.all(urls.map(url => fetch(url)));
            const dataPromises = responses.map(response => response.json());
            const responseJsons = await Promise.all(dataPromises);
            const panelId = 'visualization-gpu-nodes-without-taint';

            responseJsons.forEach((responseJson, i) => {
              if(responseJson && responseJson.data && responseJson.data.result.length > 0) {
                responseJson.data.result.forEach((result, j) => {
                  var hubId = hubIds[i];
                  var clusterName = result.metric.cluster + ' in ' + hubId;
                  var clusterId = 'HUB-' + hubId + '-CLUSTER-' + result.metric.cluster;
                  var nodeId = 'HUB-' + hubId + '-CLUSTER-' + result.metric.cluster + '-NODE-' + result.metric.node;
                  var elemId = 'visualization-gpu-nodes-without-taint-' + clusterId + '-' + result.metric.node;

                  var a = document.createElement('a');
                  a.setAttribute('href', '/en-us/edit/ai-node/' + nodeId);
                  document.querySelector('#' + panelId).append(a);

                  var callout = document.createElement('wa-callout');
                  callout.setAttribute('id', elemId);
                  callout.setAttribute('appearance', 'accent outlined');
                  callout.setAttribute('variant', 'brand');
                  callout.setAttribute('class', 'pill');
                  a.append(callout);

                  var icon = document.createElement('wa-icon');
                  icon.setAttribute('slot', 'icon')
                  icon.setAttribute('name', 'triangle-exclamation')
                  icon.setAttribute('variant', 'solid')
                  callout.append(icon);

                  var stack = document.createElement('div');
                  stack.setAttribute('class', 'wa-stack wa-gap-s ')
                  callout.append(stack);

                  var elem0 = document.createElement('div');
                  elem0.innerText = clusterName;
                  stack.append(elem0);

                  var elem1 = document.createElement('div');
                  elem1.innerText = result.metric.node;
                  stack.append(elem1);
                });
              }
            });
          }
        }
      </script>
{%- endblock htmScriptsClusterPage %}
