{% include en-us/search/cluster/ClusterSearchFormMacros.htm %}
{% include en-us/search/hub/HubSearchFormMacros.htm %}
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchCluster() }}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postCluster() }}
  {%- else %}
    {{ htmForm_postCluster() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteCluster() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportCluster() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterCluster() }}
  {%- else %}
  {%- endif %}
{%- endif %}
