{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleVirtualMachinePage %}
    <title>{% if resultCount == 0 %}no virtual machine found{% else %}virtual machines{% endif %}</title>
{%- endblock htmTitleVirtualMachinePage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/vm/VirtualMachine.css"/>
{%- block htmStylesVirtualMachinePage %}
{%- endblock htmStylesVirtualMachinePage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 5;
      }
{{ super() }}
{%- block htmStyleVirtualMachinePage %}
{%- endblock htmStyleVirtualMachinePage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsVirtualMachinePage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/vm/VirtualMachine.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/vm/VirtualMachineSearchPage.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/hub/Hub.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/cluster/Cluster.js"></script>
{%- endblock htmScriptsVirtualMachinePage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptVirtualMachinePage %}
    <script>

      function jsWebsocketVirtualMachine(vmResource, vars, $response) {
{%- block jsWebsocketVirtualMachinePage %}{%- endblock %}
      }

      function jsTooltipVirtualMachine(e, feature) {
{%- block jsTooltipVirtualMachinePage %}{%- endblock %}
      }

      function htmTooltipVirtualMachine(feature, layer) {
        return `{%- block htmTooltipVirtualMachinePage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipVirtualMachinePage %}`;
      }

      function jsLegendVirtualMachine(map) {
{%- block jsLegendVirtualMachinePage %}
        var div = L.DomUtil.create('div', 'info legend');
        var htm = '';
        window.listVirtualMachine.forEach((result, index) => {
          if(result.location) {
            var shapes = [];
            if(Array.isArray(result.location))
              shapes = shapes.concat(result.location);
            else
              shapes.push(result.location);
            shapes.forEach(function(shape, index) {
              htm += htmLegendVirtualMachine(map, shape, result, index, shapes.length);
            });
          }
        });
        div.innerHTML = htm;
        return div;
{%- endblock jsLegendVirtualMachinePage %}
      }

      function htmLegendVirtualMachine(map, shape, result, index, count) {
        var color = result.locationColors[index];
        var title = result.locationTitles[index];
        var url = result.locationLinks[index];
        var htm = '';
        htm += `<div class="cursor-pointer " style="max-width: 400px; ">
`;
        htm += `{%- block htmLegendVirtualMachinePage %}
    <div title="${quoteattr(title)}">
    <div style="width: 20px; ">
      <i class="{{ FONTAWESOME_STYLE }} fa-circle" style="color: ${color}; "></i>
    </div>
    <div class="text-overflow-ellipsis ">
      <span class="" data-solrId="${result.solrId}" onclick="window.mapLayers[this.getAttribute('data-solrId')].openPopup(); return false;" href="">${title}</span>
    </div>
    </div>
{%- endblock htmLegendVirtualMachinePage %}`;
        htm += `
</div>
`;
        return htm;
      }

      function jsStyleVirtualMachine(feature) {
{%- block jsStyleVirtualMachinePage %}
        if(feature.geometry.type == 'Point') {
          return {
            radius: 8
            , fillColor: (feature.properties.locationColors && feature.properties.locationColors[feature.index] ? feature.properties.locationColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.locationColors && feature.properties.locationColors[feature.index] ? feature.properties.locationColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 1
            , opacity: 0.7
            , fillOpacity: 0.7
            , contextmenu: true
            , contextmenuItems: [
              {
                text: 'Show coordinates'
                , callback: function(event) {
                  alert(event2.target.getLatLngs());
                }
              }
            ]
          };
        } else if(feature.geometry.type == 'LineString') {
          return {
            color: (feature.properties.locationColors && feature.properties.locationColors[feature.index] ? feature.properties.locationColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 5
            , opacity: 0.7
          };
        } else {
          return {
             fillColor: (feature.properties.locationColors && feature.properties.locationColors[feature.index] ? feature.properties.locationColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.locationColors && feature.properties.locationColors[feature.index] ? feature.properties.locationColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 3
            , opacity: 0.7
            , fillOpacity: 0.7
          };
        }
{%- endblock jsStyleVirtualMachinePage %}
      }

      function facetChangeVirtualMachineSuccess(e) {
        var l = e.querySelector('.pageForm .listVirtualMachine')?.value;
        if(l)
          window.listVirtualMachine = JSON.parse(l);
{% block facetChangeVirtualMachineSuccess %}{%- endblock facetVirtualMachineSuccess %}
      }
      function facetChangeVirtualMachineError(e) {
{% block facetChangeVirtualMachineError %}{%- endblock facetVirtualMachineError %}
      }

      function facetSimpleRangeVirtualMachineSuccess(e) {
{% block facetSimpleRangeVirtualMachineSuccess %}      facetChangeVirtualMachineSuccess(e);{% endblock facetSimpleRangeVirtualMachineSuccess %}
      }
      function facetSimpleRangeVirtualMachineError(e) {
{% block facetSimpleRangeVirtualMachineError %}      facetChangeVirtualMachineError(e);{% endblock facetSimpleRangeVirtualMachineError %}
      }
      function facetSimpleRangeVirtualMachine(e) {
        facetSimpleRange(e, facetSimpleRangeVirtualMachineSuccess, facetSimpleRangeVirtualMachineError);
      }

      function facetRangeTimeZoneVirtualMachineSuccess(e) {
{% block facetRangeTimeZoneVirtualMachineSuccess %}      facetChangeVirtualMachineSuccess(e);{% endblock facetRangeTimeZoneVirtualMachineSuccess %}
      }
      function facetRangeTimeZoneVirtualMachineError(e) {
{% block facetRangeTimeZoneVirtualMachineError %}      facetChangeVirtualMachineError(e);{%- endblock facetRangeTimeZoneVirtualMachineError %}
      }
      function facetRangeTimeZoneVirtualMachine(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneVirtualMachineSuccess, facetRangeTimeZoneVirtualMachineError);
      }

      function facetRangeGapChangeVirtualMachineSuccess(e) {
{% block facetRangeGapChangeVirtualMachineSuccess %}      facetChangeVirtualMachineSuccess(e);{% endblock facetRangeGapChangeVirtualMachineSuccess %}
      }
      function facetRangeGapChangeVirtualMachineError(e) {
{% block facetRangeGapChangeVirtualMachineError %}      facetChangeVirtualMachineError(e);{%- endblock facetRangeGapChangeVirtualMachineError %}
      }
      function facetRangeGapChangeVirtualMachine(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeVirtualMachineSuccess, facetRangeGapChangeVirtualMachineError);
      }

      function facetRangeStartChangeVirtualMachineSuccess(e) {
{% block facetRangeStartChangeVirtualMachineSuccess %}      facetChangeVirtualMachineSuccess(e);{% endblock facetRangeStartChangeVirtualMachineSuccess %}
      }
      function facetRangeStartChangeVirtualMachineError(e) {
{% block facetRangeStartChangeVirtualMachineError %}      facetChangeVirtualMachineError(e);{%- endblock facetRangeStartChangeVirtualMachineError %}
      }
      function facetRangeStartChangeVirtualMachine(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeVirtualMachineSuccess, facetRangeStartChangeVirtualMachineError);
      }

      function facetRangeEndChangeVirtualMachineSuccess(e) {
{% block facetRangeEndChangeVirtualMachineSuccess %}      facetChangeVirtualMachineSuccess(e);{% endblock facetRangeEndChangeVirtualMachineSuccess %}
      }
      function facetRangeEndChangeVirtualMachineError(e) {
{% block facetRangeEndChangeVirtualMachineError %}      facetChangeVirtualMachineError(e);{%- endblock facetRangeEndChangeVirtualMachineError %}
      }
      function facetRangeEndChangeVirtualMachine(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeVirtualMachineSuccess, facetRangeEndChangeVirtualMachineError);
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
      ]).then(() => {

        var vmResource = {% if result.vmResource is defined %}{{ result.vmResource | tojson }}{% else %}null{% endif %};

          function relate_clusterResource(event) {
            suggestVirtualMachineClusterResource(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + event.target.value }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,clusterResource,pk,editPage,objectTitle' } ] : [{%- if result.clusterResource is defined %}{'name':'fq','value':'clusterResource:{{ result.clusterResource }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#POST_clusterResource')?.addEventListener('input', relate_clusterResource);
          document.querySelector('#POST_clusterResource')?.addEventListener('focus', relate_clusterResource);
          document.querySelector('#PATCH_clusterResource')?.addEventListener('input', relate_clusterResource);
          document.querySelector('#PATCH_clusterResource')?.addEventListener('focus', relate_clusterResource);
          function relate_hubResource(event) {
            suggestVirtualMachineHubResource(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + event.target.value }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,hubResource,pk,editPage,objectTitle' } ] : [{%- if result.hubResource is defined %}{'name':'fq','value':'hubResource:{{ result.hubResource }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#POST_hubResource')?.addEventListener('input', relate_hubResource);
          document.querySelector('#POST_hubResource')?.addEventListener('focus', relate_hubResource);
          document.querySelector('#PATCH_hubResource')?.addEventListener('input', relate_hubResource);
          document.querySelector('#PATCH_hubResource')?.addEventListener('focus', relate_hubResource);
        if(vmResource == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.vmResource is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listVirtualMachine')?.value;
        if(l)
          window.listVirtualMachine = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneVirtualMachine);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneVirtualMachine);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneVirtualMachine);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeVirtualMachine);
        pageGraphVirtualMachine();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qVirtualMachine_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('VirtualMachine', event.target, document.querySelector('#qVirtualMachineDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qVirtualMachine_rows')?.addEventListener('change', event => {
          paramChange('VirtualMachine', event.target, document.querySelector('#qVirtualMachineDiv_rows'));
        });

        document.querySelector('#qVirtualMachine_start')?.addEventListener('change', event => {
          paramChange('VirtualMachine', event.target, document.querySelector('#qVirtualMachineDiv_start'));
        });


        var submitForm_patchVirtualMachine = document.querySelector('#htmForm_patchVirtualMachine')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchVirtualMachine')?.addEventListener('click', event => {
          event.preventDefault();
          patchVirtualMachine(null, document.querySelector('#htmForm_patchVirtualMachine'), document.querySelector('#htmFormButton_patchVirtualMachine'), event.target.getAttribute('data-vmResource'));
          return false;
        });

        var submitForm_postVirtualMachine = document.querySelector('#htmForm_postVirtualMachine')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postVirtualMachine')?.addEventListener('click', event => {
          event.preventDefault();
          postVirtualMachine(document.querySelector('#htmForm_postVirtualMachine')
          , document.querySelector('#htmFormButton_postVirtualMachine')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteVirtualMachine = document.querySelector('#htmForm_deleteVirtualMachine')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteVirtualMachine')?.addEventListener('click', event => {
          event.preventDefault();
          deleteVirtualMachine(event.target, event.target.getAttribute('data-vmResource'));
          return false;
        });

        var submitForm_putimportVirtualMachine = document.querySelector('#htmForm_putimportVirtualMachine')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportVirtualMachine')?.addEventListener('click', event => {
          event.preventDefault();
          putimportVirtualMachine(document.querySelector('#htmForm_putimportVirtualMachine'), document.querySelector('#htmFormButton_putimportVirtualMachine'));
          return false;
        });

        var submitForm_searchpageVirtualMachine = document.querySelector('#htmForm_searchpageVirtualMachine')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageVirtualMachine')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageVirtualMachine();
          return false;
        });

        var submitForm_deletefilterVirtualMachine = document.querySelector('#htmForm_deletefilterVirtualMachine')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterVirtualMachine')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterVirtualMachine(event.target);
          return false;
        });
{%- block htmScriptInitVirtualMachinePage %}{%- endblock htmScriptInitVirtualMachinePage %}
      });
    </script>
{%- endblock htmScriptVirtualMachinePage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketVirtualMachinePage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketVirtualMachine(websocketVirtualMachineInner);
{% endif %}
{%- endblock websocketVirtualMachinePage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlVirtualMachinePage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlVirtualMachinePage %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-VirtualMachine">back to all virtual machines</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-VirtualMachine" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="fa-regular fa-sidebar"></i>
                  all virtual machines
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search virtual machines
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartVirtualMachinePage %}
{% include en-us/search/vm/VirtualMachineSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-VirtualMachine">back to all virtual machines</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-VirtualMachine" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-regular fa-sidebar"></i>
              all virtual machines
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no virtual machine found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-regular fa-sidebar"></i>
            </div>
            <span class="wa-heading-m ">no virtual machine found</span>
            <p class="wa-caption-l ">A Red Hat OpenShift virtual machine</p>
{% include en-us/search/vm/VirtualMachineSearchForm.htm %}
          </div>
        </div>
{% else %}
{% include en-us/search/vm/VirtualMachineSuggestedSearch.htm %}
          <div class="pageContent ">
            <form action="/en-us/api/vm" id="VirtualMachineForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listVirtualMachine" id="listVirtualMachine" class="listVirtualMachine"  value='{{ toJsonArrayStringInApostrophes(listVirtualMachine) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
{% endif %}
{%- endblock htmBodyStartVirtualMachinePage %}
{%- endblock htmBodyStartPageLayout %}
{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/vm/VirtualMachineSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchForm is not defined %}
{%- set pageSearchForm %}
{% include en-us/search/vm/VirtualMachineSearchForm.htm %}
{%- endset pageSearchForm %}
{%- endif %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleVirtualMachinePage %}
{% if resultCount > 0 %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/vm/VirtualMachinePaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
              <wa-dropdown id="htmDropdown-hubId">
                <wa-button variant="brand" slot="trigger" caret>ACM Hub</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortVirtualMachine_hubId'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-VirtualMachine').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-hubId-asc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by ACM Hub ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortVirtualMachine_hubId'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-VirtualMachine').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-hubId-desc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by ACM Hub descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <wa-dropdown id="htmDropdown-clusterName">
                <wa-button variant="brand" slot="trigger" caret>cluster name</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortVirtualMachine_clusterName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-VirtualMachine').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-clusterName-asc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by cluster name ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortVirtualMachine_clusterName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-VirtualMachine').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-clusterName-desc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by cluster name descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <wa-dropdown id="htmDropdown-vmProject">
                <wa-button variant="brand" slot="trigger" caret>VM project</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortVirtualMachine_vmProject'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-VirtualMachine').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-vmProject-asc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by VM project ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortVirtualMachine_vmProject'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-VirtualMachine').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-vmProject-desc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by VM project descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <wa-dropdown id="htmDropdown-vmName">
                <wa-button variant="brand" slot="trigger" caret>VM name</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortVirtualMachine_vmName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-VirtualMachine').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-vmName-asc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by VM name ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortVirtualMachine_vmName'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-VirtualMachine').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-vmName-desc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by VM name descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <wa-dropdown id="htmDropdown-os">
                <wa-button variant="brand" slot="trigger" caret>OS</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortVirtualMachine_os'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-VirtualMachine').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-os-asc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by OS ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortVirtualMachine_os'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-VirtualMachine').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-os-desc">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by OS descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
                  </div>
                  {% for item in listVirtualMachine%}
                  <div>
              <a href="{{ item.displayPage }}">
                <i class="fa-regular fa-sidebar"></i>
              <span>{{ item.hubId | e }}
</span>              </a>
              <a href="{{ item.displayPage }}">
              <span>{{ item.clusterName | e }}
</span>              </a>
              <a href="{{ item.displayPage }}">
              <span>{{ item.vmProject | e }}
</span>              </a>
              <a href="{{ item.displayPage }}">
              <span>{{ item.vmName | e }}
</span>              </a>
              <a href="{{ item.displayPage }}">
              <span>{{ item.os | e }}
</span>              </a>
                  </div>
                  {% endfor %}
              {% if getColumnHubId is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnClusterName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnVmProject is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnVmName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnOs is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/vm/VirtualMachinePaginationButtons.htm %}
              </div>
            </div>
          </div>
{% endif %}
{%- endblock htmBodyMiddleVirtualMachinePage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndVirtualMachinePage %}
{%- include en-us/search/vm/VirtualMachineLocation.htm %}
{%- endblock htmBodyEndVirtualMachinePage %}
  {{ super() }}
{%- endblock htmBodyEndPageLayout %}
