{% extends "en-us/PageLayout.htm" %}
{%- block htmTitlePageLayout %}
{%- block htmTitleAiTelemetryDeveloperPage %}
    <title>{{ result.objectTitle }}</title>
{%- endblock htmTitleAiTelemetryDeveloperPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/ai-telemetry-developer/AiTelemetryDeveloper.css"/>
{%- block htmStylesAiTelemetryDeveloperPage %}
{%- endblock htmStylesAiTelemetryDeveloperPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 2;
      }
{{ super() }}
{%- block htmStyleAiTelemetryDeveloperPage %}
{%- endblock htmStyleAiTelemetryDeveloperPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsAiTelemetryDeveloperPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/ai-telemetry-developer/AiTelemetryDeveloper.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/ai-telemetry-developer/AiTelemetryDeveloperSearchPage.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/ai-telemetry-developer/AiTelemetryDeveloperEditPage.js"></script>
{%- endblock htmScriptsAiTelemetryDeveloperPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptAiTelemetryDeveloperPage %}
    <script>

      function jsWebsocketAiTelemetryDeveloper(pageId, vars, $response) {
{%- block jsWebsocketAiTelemetryDeveloperPage %}{%- endblock %}
      }

      function jsTooltipAiTelemetryDeveloper(e, feature) {
{%- block jsTooltipAiTelemetryDeveloperPage %}{%- endblock %}
      }

      function htmTooltipAiTelemetryDeveloper(feature, layer) {
        return `{%- block htmTooltipAiTelemetryDeveloperPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipAiTelemetryDeveloperPage %}`;
      }

      function facetSimpleRangeAiTelemetryDeveloperSuccess(pageContent) {
{% block facetSimpleRangeAiTelemetryDeveloperSuccess %}{%- endblock facetSimpleRangeAiTelemetryDeveloperSuccess %}
      }
      function facetSimpleRangeAiTelemetryDeveloperError(pageContent) {
{% block facetSimpleRangeAiTelemetryDeveloperError %}{%- endblock facetSimpleRangeAiTelemetryDeveloperError %}
      }
      function facetSimpleRangeAiTelemetryDeveloper(e) {
        facetSimpleRange(e, facetSimpleRangeAiTelemetryDeveloperSuccess, facetSimpleRangeAiTelemetryDeveloperError);
      }

      function facetRangeTimeZoneAiTelemetryDeveloperSuccess(pageContent) {
{% block facetRangeTimeZoneAiTelemetryDeveloperSuccess %}{%- endblock facetRangeTimeZoneAiTelemetryDeveloperSuccess %}
      }
      function facetRangeTimeZoneAiTelemetryDeveloperError(pageContent) {
{% block facetRangeTimeZoneAiTelemetryDeveloperError %}{%- endblock facetRangeTimeZoneAiTelemetryDeveloperError %}
      }
      function facetRangeTimeZoneAiTelemetryDeveloper(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneAiTelemetryDeveloperSuccess, facetRangeTimeZoneAiTelemetryDeveloperError);
      }

      function facetRangeGapChangeAiTelemetryDeveloperSuccess(pageContent) {
{% block facetRangeGapChangeAiTelemetryDeveloperSuccess %}{%- endblock facetRangeGapChangeAiTelemetryDeveloperSuccess %}
      }
      function facetRangeGapChangeAiTelemetryDeveloperError(pageContent) {
{% block facetRangeGapChangeAiTelemetryDeveloperError %}{%- endblock facetRangeGapChangeAiTelemetryDeveloperError %}
      }
      function facetRangeGapChangeAiTelemetryDeveloper(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeAiTelemetryDeveloperSuccess, facetRangeGapChangeAiTelemetryDeveloperError);
      }

      function facetRangeStartChangeAiTelemetryDeveloperSuccess(pageContent) {
{% block facetRangeStartChangeAiTelemetryDeveloperSuccess %}{%- endblock facetRangeStartChangeAiTelemetryDeveloperSuccess %}
      }
      function facetRangeStartChangeAiTelemetryDeveloperError(pageContent) {
{% block facetRangeStartChangeAiTelemetryDeveloperError %}{%- endblock facetRangeStartChangeAiTelemetryDeveloperError %}
      }
      function facetRangeStartChangeAiTelemetryDeveloper(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeAiTelemetryDeveloperSuccess, facetRangeStartChangeAiTelemetryDeveloperError);
      }

      function facetRangeEndChangeAiTelemetryDeveloperSuccess(pageContent) {
{% block facetRangeEndChangeAiTelemetryDeveloperSuccess %}{%- endblock facetRangeEndChangeAiTelemetryDeveloperSuccess %}
      }
      function facetRangeEndChangeAiTelemetryDeveloperError(pageContent) {
{% block facetRangeEndChangeAiTelemetryDeveloperError %}{%- endblock facetRangeEndChangeAiTelemetryDeveloperError %}
      }
      function facetRangeEndChangeAiTelemetryDeveloper(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeAiTelemetryDeveloperSuccess, facetRangeEndChangeAiTelemetryDeveloperError);
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
      ]).then(() => {

        var pageId = {% if result.pageId is defined %}{{ result.pageId | tojson }}{% else %}null{% endif %};

        if(pageId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.pageId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listAiTelemetryDeveloper')?.value;
        if(l)
          window.listAiTelemetryDeveloper = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneAiTelemetryDeveloper);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneAiTelemetryDeveloper);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneAiTelemetryDeveloper);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeAiTelemetryDeveloper);
        pageGraphAiTelemetryDeveloper();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qAiTelemetryDeveloper_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('AiTelemetryDeveloper', event.target, document.querySelector('#qAiTelemetryDeveloperDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qAiTelemetryDeveloper_rows')?.addEventListener('change', event => {
          paramChange('AiTelemetryDeveloper', event.target, document.querySelector('#qAiTelemetryDeveloperDiv_rows'));
        });

        document.querySelector('#qAiTelemetryDeveloper_start')?.addEventListener('change', event => {
          paramChange('AiTelemetryDeveloper', event.target, document.querySelector('#qAiTelemetryDeveloperDiv_start'));
        });


        var submitForm_patchAiTelemetryDeveloper = document.querySelector('#htmForm_patchAiTelemetryDeveloper')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchAiTelemetryDeveloper')?.addEventListener('click', event => {
          event.preventDefault();
          patchAiTelemetryDeveloper(null, document.querySelector('#htmForm_patchAiTelemetryDeveloper'), document.querySelector('#htmFormButton_patchAiTelemetryDeveloper'), event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_postAiTelemetryDeveloper = document.querySelector('#htmForm_postAiTelemetryDeveloper')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postAiTelemetryDeveloper')?.addEventListener('click', event => {
          event.preventDefault();
          postAiTelemetryDeveloper(document.querySelector('#htmForm_postAiTelemetryDeveloper')
          , document.querySelector('#htmFormButton_postAiTelemetryDeveloper')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteAiTelemetryDeveloper = document.querySelector('#htmForm_deleteAiTelemetryDeveloper')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteAiTelemetryDeveloper')?.addEventListener('click', event => {
          event.preventDefault();
          deleteAiTelemetryDeveloper(event.target, event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_putimportAiTelemetryDeveloper = document.querySelector('#htmForm_putimportAiTelemetryDeveloper')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportAiTelemetryDeveloper')?.addEventListener('click', event => {
          event.preventDefault();
          putimportAiTelemetryDeveloper(document.querySelector('#htmForm_putimportAiTelemetryDeveloper'), document.querySelector('#htmFormButton_putimportAiTelemetryDeveloper'));
          return false;
        });

        var submitForm_searchpageAiTelemetryDeveloper = document.querySelector('#htmForm_searchpageAiTelemetryDeveloper')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageAiTelemetryDeveloper')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageAiTelemetryDeveloper();
          return false;
        });

        var submitForm_deletefilterAiTelemetryDeveloper = document.querySelector('#htmForm_deletefilterAiTelemetryDeveloper')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterAiTelemetryDeveloper')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterAiTelemetryDeveloper(event.target);
          return false;
        });
{%- block htmScriptInitAiTelemetryDeveloperPage %}{%- endblock htmScriptInitAiTelemetryDeveloperPage %}
      });
    </script>
{%- endblock htmScriptAiTelemetryDeveloperPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketAiTelemetryDeveloperPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketAiTelemetryDeveloper(websocketAiTelemetryDeveloperInner);
{% endif %}
{%- endblock websocketAiTelemetryDeveloperPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlAiTelemetryDeveloperPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlAiTelemetryDeveloperPage %}

{%- block htmBodyStartPageLayout %}
    {{ super() }}
{%- block htmBodyStartAiTelemetryDeveloperPage %}
{% if resultCount > 0 %}
          <div class="wa-flank ">
            <wa-tooltip for="return-to-AiTelemetryDeveloper">back to all AI Telemetry developers</wa-tooltip>
            <wa-button id="return-to-AiTelemetryDeveloper" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-angle-left"></i>
              all AI Telemetry developers
            </wa-button>
            <h1 class="Page_objectTitle"><i class="fa-duotone fa-regular fa-chart-fft"></i> {{ result.objectTitle | e }}</h1>
          </div>
          <div class="margin-block">
          </div>
{% include en-us/search/ai-telemetry-developer/AiTelemetryDeveloperSearchForm.htm %}
          <wa-divider></wa-divider>
{% include en-us/search/ai-telemetry-developer/AiTelemetryDeveloperSearchButtons.htm %}
{% endif %}
{%- endblock htmBodyStartAiTelemetryDeveloperPage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleAiTelemetryDeveloperPage %}
        <div class="pageContent ">
{%- include en-us/search/ai-telemetry-developer/AiTelemetryDeveloperSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-AiTelemetryDeveloper">back to all AI Telemetry developers</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-AiTelemetryDeveloper" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-duotone fa-regular fa-chart-fft"></i>
              all AI Telemetry developers
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no AI Telemetry developer found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-duotone fa-regular fa-chart-fft"></i>
            </div>
            <span class="wa-heading-m ">no AI Telemetry developer found</span>
            <p class="wa-caption-l ">Learn how to become an AI Telemetry platform developer — Providing access control to observability metrics for cloud environments, ACM hubs, OpenShift Clusters, virtual machines, bare metal hardware, and cloud projects. </p>
{% include en-us/search/ai-telemetry-developer/AiTelemetryDeveloperSearchForm.htm %}
          </div>
        </div>
{% else %}
{%- include en-us/search/ai-telemetry-developer/AiTelemetryDeveloperSuggestedSearch.htm %}
{% endif %}
{%- block htmFormAiTelemetryDeveloperPage %}
          <form action="/en-us/api/ai-telemetry-developer" id="AiTelemetryDeveloperForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
{% if result.pageId is defined %}
            <input name="pageId" class="valuePageId" type="hidden" value="{{ result.pageId }}"/>
            {% endif %}
            <input name="focusId" type="hidden"/>
            <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
            <input name="result" id="result" class="result"  value='{{ toJsonObjectStringInApostrophes(result) }}' type="hidden"/>
            <input name="listAiTelemetryDeveloper" id="listAiTelemetryDeveloper" class="listAiTelemetryDeveloper"  value='{{ toJsonArrayStringInApostrophes(listAiTelemetryDeveloper) }}' type="hidden"/>
          </form>
  {% if solrId is defined %}
          {{ htmButton_searchpageAiTelemetryDeveloper() }}
          {{ htmForm_searchpageAiTelemetryDeveloper() }}
  {% endif %}
{%- endblock htmFormAiTelemetryDeveloperPage %}
        </div>
{%- endblock htmBodyMiddleAiTelemetryDeveloperPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndAiTelemetryDeveloperPage %}
{%- include en-us/search/ai-telemetry-developer/AiTelemetryDeveloperLocation.htm %}
{%- endblock htmBodyEndAiTelemetryDeveloperPage %}
      {{ super() }}
{%- endblock htmBodyEndPageLayout %}
