
          <div class="wa-split ">
            <wa-tooltip for="PaginationButtonsPrevious" placement="top">Show the previous results</wa-tooltip>
            <wa-tooltip for="PaginationButtonsDecrease" placement="top">Show half the results</wa-tooltip>
            <wa-tooltip for="PaginationButtonsIncrease" placement="top">Show double the results</wa-tooltip>
            <wa-tooltip for="PaginationButtonsNext" placement="top">Show the next results</wa-tooltip>
            <div class="wa-caption-l ">{{ pagination.startNum }} – {{ pagination.endNum }} of {{ pagination.foundNum }} OpenShift cluster orders</div>
            <wa-scroller>
              <wa-button-group size="small" class="no-gradient wa-cluster wa-gap-xs " id="htmPaginationButtons">
                <wa-button id="PaginationButtonsPrevious" variant="brand"{% if pagination.pagePrevious is defined %} href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}"{% else %} disabled{% endif %}>
                  <wa-icon slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-square-left "></wa-icon>
                  Previous
                </wa-button>
                <wa-button id="PaginationButtonsDecrease" variant="brand"{% if pagination.rowsPrevious >= pagination['1L'] %} href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}"{% else %} disabled{% endif %}>
                  <wa-icon slot="start" class="{{ FONTAWESOME_STYLE }} fa-minus-square "></wa-icon>
                  Less
                </wa-button>
                <wa-button id="PaginationButtonsIncrease" variant="brand" href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
                  <wa-icon slot="start" class="{{ FONTAWESOME_STYLE }} fa-plus-square "></wa-icon>
                  More
                </wa-button>
                <wa-button id="PaginationButtonsNext" variant="brand"{% if pagination.pageNext is defined %} href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}"{% else %} disabled{% endif %}>
                  Next
                  <wa-icon slot="suffix" class="{{ FONTAWESOME_STYLE }} fa-arrow-square-right "></wa-icon>
                </wa-button>
              </wa-button-group>
            </wa-scroller>
          </div>
